version: "3.7"

x-common:
  &default-common
  labels:
    - ${LNMP_DOMAIN:-com.khs1994.lnmp}=true
    - ${LNMP_DOMAIN:-com.khs1994.lnmp}.app.env=development

services:
  postgresql:
    << : *default-common
    image: postgres:${LNMP_POSTGRESQL_VERSION:-12.2}-alpine
