server {
  # 更改端口号
  listen 10000 ssl http2;

  # 更改 CI 的域名，即 CI 要部署到哪里
  server_name ci2.khs1994.com;

  root /app/khsci/public/public;

  # 证书需要自行申请，申请之后放到 本目录 ssl 文件夹内

  # 更改 ssl 公钥路径
  ssl_certificate            conf.d/ssl/www.khs1994.com.crt;
  # 更改 ssl 私钥路径
  ssl_certificate_key        conf.d/ssl/www.khs1994.com.crt;
  # 其他无需修改

  include conf.d/demo-include-ssl-common.config;

  include conf.d/demo-include-php.config;

  include conf.d/demo-ajax-header.config;
}
