# cors cross-origin sharing standard  跨域资源共享
# https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Access_control_CORS

add_header Access-Control-Allow-Methods *;

# 单位为 秒，在有效时间内，浏览器无须为同一请求再次发起预检请求。
# 请注意，浏览器自身维护了一个最大有效时间，如果该首部字段的值超过了最大有效时间，将不会生效。
add_header Access-Control-Allow-Max-Age 3600;

# 对于附带身份凭证的请求，服务器不得设置 Access-Control-Allow-Origin 的值为 “*”。
add_header Access-Control-Allow-Credentials true;

add_header Access-Control-Allow-Origin $http_origin;

# 服务器允许请求中携带字段,例如 X-PINGOTHER 与 Content-Type
add_header Access-Control-Allow-Headers $http_access_control_request_headers;

# 预检请求 options 中同时携带了下面两个首部字段：
# Access-Control-Request-Method: POST
# Access-Control-Request-Headers: X-PINGOTHER, Content-Type

# 让服务器把允许浏览器访问的头放入白名单，例如：
# Access-Control-Expose-Headers: X-My-Custom-Header, X-Another-Custom-Header
