location / {
    try_files $uri $uri/ /index.php?$query_string;
}

location ~.*\.(ico|gif|jpg|jpeg|png|bmp|swf|js|css)$ {
    access_log off;
}

location ~ .*\.php(\/.*)*$ {
  # fastcgi_pass   php5:9000;
  # fastcgi_pass   php7:9000;
  fastcgi_pass   php8:9000;
  include        fastcgi.conf;

  # fastcgi_connect_timeout 300;
  # fastcgi_send_timeout 300;
  # fastcgi_read_timeout 300;

  # 在 NGINX 中设置 PHP
  # https://www.php.net/manual/en/configuration.changes.php

  # fastcgi_param PHP_ADMIN_VALUE "open_basedir=$document_root/:/tmp/:/proc/";
  # fastcgi_param PHP_FLAG "display_errors=off";

  # 清除以前设置过的值请用 none 作为值
  # PHP_ADMIN_VALUE name value
  # PHP_ADMIN_FLAG name on|off
  # 通过以上两个指令设定，不能被 PHP 代码中的 ini_set() 覆盖
  # 不能用在 .htaccess 文件里

  # PHP_VALUE name value
  # PHP_FLAG name on|off
  # 以上两个只能设置 PHP_INI_ALL | PHP_INI_PERDIR
  # 请注意 disable_functions 或者 disable_classes 在 php.ini 之中定义的值不会被覆盖掉，
  # 但是会将新的设置附加在原有值的后面

  # 不要使用 *_VALUE 设置值为 on|off 的指令，请用 *_FLAG
  # *_FLAG 用于设置值为 on|off 的指令
}
