# https://github.com/khs1994-website/nginx-https

server {
  listen      80;

  # 域名

  server_name www.t.khs1994.com;
  return 301  https://$host$request_uri;
}

server{
  listen                     443 ssl http2;
  server_name                www.t.khs1994.com;
  index                      index.html index.htm index.php;

  # 「重要」 此处为容器内路径（注意不是本机路径）！ 本机 ./app/ 对应容器内 /app/

  root                       /app/demo/public;

  # 将配置文件的公共部分写入另一个文件，使用 include 指令包含进来
  # 实际使用时务必自定义，严禁直接使用 demo 文件

  include conf.d/demo-include-ssl.config;
  include conf.d/demo-include-php.config;
}
