upstream gitlab_server {
  server gitlab:7000;
}

server {
  listen 443 ssl http2;

  #
  # please edit
  #
  server_name git.t.khs1994.com;
  ssl_certificate conf.d/ssl/git.t.khs1994.com.crt;
  ssl_certificate_key conf.d/ssl/git.t.khs1994.com.key;

  #
  # Don't edit
  #
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers                'TLS13+AESGCM+AES128:TLS13+AESGCM+AES256:TLS13+CHACHA20:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:1m;

  client_max_body_size 0;

  chunked_transfer_encoding on;

  location / {
    proxy_pass                          http://gitlab_server;
    proxy_set_header  Host              $http_host;
    proxy_set_header  X-Real-IP         $remote_addr;
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_read_timeout                  900;
  }
}
