server {
  server_name  127.0.0.1;
  listen       80 default_server;
  root         /app/demo/public;
  index        index.html index.htm index.php;

  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ .*\.php(\/.*)*$ {
    fastcgi_pass   php7:9000;
    include        fastcgi.conf;
  }

  location ~.*\.(ico|gif|jpg|jpeg|png|bmp|swf|js|css)$ {
      access_log off;
  }

}
