# https://github.com/laravel/framework/issues/23968
# https://www.nginx.com/blog/installing-wordpress-with-nginx-unit

upstream unit_backend {
    server nginx-unit:80;
}

server {
    listen 80;
    server_name localhost;
    root /app/laravel/public;

    location / {
        try_files $uri $uri/ @index;
    }

    location @index {
      proxy_pass http://unit_backend;
      proxy_set_header Host $host;
    }

    # location / {
    #     try_files $uri $uri/ /index.php?$query_string;
    # }
    #
    # location ~ .*\.php(\/.*)*$ {
    #   proxy_pass http://unit_backend;
    #   proxy_set_header Host $host;
    # }
}
