kind: Namespace
apiVersion: v1
metadata:
  name: sc-nfs
  labels:
    app: sc-nfs

---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs.storage.k8s.khs1994.com
  # annotations:
    # 设置该 storageclass 为 PVC 创建时默认使用的存储机制
    # storageclass.kubernetes.io/is-default-class: "true"
provisioner: fuseim.pri/ifs # or choose another name, must match deployment's env PROVISIONER_NAME'
parameters:
  # reclaimPolicy: Delete 时
  # "false" 删除 PVC 时不会保留数据，"true" 将保留（archive） PVC 数据
  archiveOnDelete: "true"
# Pod 使用完后会释放 PV，PV 的状态变成 Released。
# 变成 Released 的 PV 会根据定义的回收策略(reclaimPolicy)做相应的回收工作。
reclaimPolicy: Delete # Retain | Delete | Recycle(not support)
# mountOptions:

---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: delete.nfs.storage.k8s.khs1994.com
provisioner: fuseim.pri/ifs
parameters:
  archiveOnDelete: "false"
reclaimPolicy: Delete

---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: retain.nfs.storage.k8s.khs1994.com
provisioner: fuseim.pri/ifs
parameters:
  archiveOnDelete: "false"
reclaimPolicy: Retain

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: nfs-client-provisioner
  # replace with namespace where provisioner is deployed
  namespace: default

---

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: nfs-client-provisioner-runner
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "update", "patch"]

---

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: run-nfs-client-provisioner
subjects:
  - kind: ServiceAccount
    name: nfs-client-provisioner
    # replace with namespace where provisioner is deployed
    namespace: default
roleRef:
  kind: ClusterRole
  name: nfs-client-provisioner-runner
  apiGroup: rbac.authorization.k8s.io

---

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: leader-locking-nfs-client-provisioner
    # replace with namespace where provisioner is deployed
  namespace: default
rules:
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: leader-locking-nfs-client-provisioner
subjects:
  - kind: ServiceAccount
    name: nfs-client-provisioner
    # replace with namespace where provisioner is deployed
    namespace: default
roleRef:
  kind: Role
  name: leader-locking-nfs-client-provisioner
  apiGroup: rbac.authorization.k8s.io

---

kind: Deployment
apiVersion: apps/v1
metadata:
  name: nfs-client-provisioner
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nfs-client-provisioner
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      nodeSelector:
        kubernetes.io/os: linux
      containers:
        - name: nfs-client-provisioner
          image: quay.io/external_storage/nfs-client-provisioner:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: fuseim.pri/ifs
            - name: NFS_SERVER
              # fix me
              # your nfs server address
              # value: 192.168.199.100
              value: 10.254.0.49 # 集群内 NFS 服务端地址
            - name: NFS_PATH
              # fix me
              value: /kubernetes_nfs_pv
      volumes:
        # 存放 archive 数据
        - name: nfs-client-root
          nfs:
            # fix me
            # your nfs server address
            # server: 192.168.199.100
            server: 10.254.0.49 # 集群内 NFS 服务端地址
            # fix me
            path: /kubernetes_nfs_pv
