# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]

indent_style = space

charset = utf-8

trim_trailing_whitespace = true

insert_final_newline = true

end_of_line = lf

[*.md]

trim_trailing_whitespace = false

[*.php]

indent_size = 4

[*.xml]

indent_size = 4

[*.py]

indent_size = 4

[Makefile]

indent_style = tab

[{package.json,.travis.yml,.khsci.yml,.drone.yml}]

indent_size = 2

[*.js]

indent_size = 2
