DOCKER_HUB_USERNAME=khs1994

PHP_VERSION=8.1.5
# PHP_VERSION=8.0.19
# PHP_VERSION=7.4.30
# PHP_VERSION=7.3.33
# PHP_VERSION=7.2.34
# PHP_VERSION=7.1.33
# PHP_VERSION=7.0.33
# PHP_VERSION=5.6.40

NODE_VERSION=18.2.0
