DOCKER_HUB_USERNAME=khs1994

PHP_VERSION=8.2.5
# PHP_VERSION=8.1.15
# PHP_VERSION=8.0.28
# PHP_VERSION=7.4.33
# PHP_VERSION=7.3.33
# PHP_VERSION=7.2.34
# PHP_VERSION=7.1.33
# PHP_VERSION=7.0.33
# PHP_VERSION=5.6.40

NODE_VERSION=20.5.1
