# https://github.com/github/gitignore

.DS_Store
.idea

# composer

vendor
composer.lock

# PHP-CS-Fixer

.php_cs.cache

# python

__pycache__

# Sami

/build
/cache

# coerage report

coverage_report
coverage.xml

.env.*
.env
!.env.example

# node
node_modules/

# public
public/js/
public/css/

# yarn
yarn-error.log

# npm
package-lock.json

# laravel
mix-manifest.json
