*
!.gitignore
!ignition-local.example.yaml
!ignition-n.node.template.yaml
!ignition-n.master.template.yaml
!merge.temp.yaml
!basic.yaml

!crictl.yaml
!docker.yaml
!etcd.yaml
!flanneld.yaml
!README.md
!kube-apiserver.yaml
!kube-containerd.yaml
!kube-controller-manager.yaml
!kube-nginx.yaml
!kube-proxy.yaml
!kube-scheduler.yaml
!kubelet.yaml
!merge-common.yaml
