# privacy info, please set true to help us improve

DATA_COLLECTION=true

COMPOSE_PROJECT_NAME=lnmp

APP_ENV=development

APP_ROOT=./app
# APP_ROOT=../app

# PCIT conf
LNMP_PCIT_PORT=10000

# Project Domain

LNMP_DOMAIN=com.khs1994.lnmp

# LNMP_DOMAIN=com.domain.lnmp

# ClusterKit

CLUSTERKIT_REDIS_HOST=
CLUSTERKIT_REDIS_NODES=
# CLUSTERKIT_REDIS_NODES=192.168.199.100:7001 192.168.199.100:7002 192.168.199.100:7003 192.168.199.100:8001 192.168.199.100:8002 192.168.199.100:8003

CLUSTERKIT_REDIS_S_HOST=
CLUSTERKIT_REDIS_M_S_HOST=

CLUSTERKIT_MYSQL_HOST=

DNS=114.114.114.114
# DNS=8.8.8.8

# SSL Powered By acme.sh

DNS_TYPE=dns_dp
# DNS_TYPE=

## [DNSPOD]

DP_Id=
DP_Key=

# NGINX

LNMP_NGINX_HTTPS_PORT=0.0.0.0:443
LNMP_NGINX_HTTP_PORT=0.0.0.0:80

# HTTPD

LNMP_HTTPD_HTTPS_PORT=0.0.0.0:443
LNMP_HTTPD_HTTP_PORT=0.0.0.0:80

# MySQL MariaDB

LNMP_MYSQL_PORT=127.0.0.1:3306
# LNMP_MYSQL_PORT=0.0.0.0:3306

LNMP_MYSQL_PORT_X=127.0.0.1:33060
# LNMP_MYSQL_PORT_X=0.0.0.0:33060

# Redis

LNMP_REDIS_PORT=127.0.0.1:6379
# LNMP_REDIS_PORT=0.0.0.0:6379

# Memcached

LNMP_MEMCACHED_PORT=127.0.0.1:11211
# LNMP_MEMCACHED_PORT=0.0.0.0:11211

# PostgreSQL

LNMP_POSTGRESQL_PORT=127.0.0.1:5432
# LNMP_POSTGRESQL_PORT=0.0.0.0:5432

# MongoDB

LNMP_MONGODB_PORT=127.0.0.1:27017
# LNMP_MONGODB_PORT=0.0.0.0:27017

# PHPMyAdmin

LNMP_PHPMYADMIN_PORT=127.0.0.1:8080
# LNMP_PHPMYADMIN_PORT=0.0.0.0:8080

# RabbitMQ

LNMP_RABBITMQ_PORT_1000=127.0.0.1:15672
LNMP_RABBITMQ_PORT=0.0.0.0:5672

# TimeZone

TZ=Asia/Shanghai

# [Docker Registry]

LNMP_REGISTRY_HOST=docker.t.khs1994.com

# Soft Version

LNMP_NGINX_VERSION=1.15.7

LNMP_NGINX_UNIT_VERSION=1.5

LNMP_HTTPD_VERSION=2.4.37

LNMP_MYSQL_VERSION=8.0.13

LNMP_MARIADB_VERSION=10.4.0

LNMP_REDIS_VERSION=5.0.3

LNMP_PHP_VERSION=7.2.13

LNMP_MEMCACHED_VERSION=1.5.12

LNMP_RABBITMQ_VERSION=3.7.8

LNMP_POSTGRESQL_VERSION=11.1

LNMP_MONGODB_VERSION=4.1.5

LNMP_REGISTRY_VERSION=latest

LNMP_PHPMYADMIN_VERSION=latest

LNMP_ETCD_VERSION=3.3.9

LNMP_MINIO_VERSION=RELEASE.2018-11-15T01-26-07Z

# CONF FILE NAME
#
# 复制示例配置文件，并在最后一个点之前加上前缀(例如 .my)

# LNMP_MYSQL_CONF=docker.my.cnf

# LNMP_MYSQL_DATA=/var/lib/mysql-my

# LNMP_DB_ROOT_PASSWORD_PATH=db.my.txt

# LNMP_MARIADB_CONF=docker.my.cnf

# LNMP_MARIADB_DATA=/var/lib/mysql-my

# LNMP_REDIS_CONF=redis.my.cnf

# LNMP_MONGODB_CONF=mongod.my.conf

# LNMP_PHP_FPM_CONF=zz-docker.my.conf

# LNMP_PHP_INI=php.development.my.ini

# LNMP_PHP_EXTRA_INI=docker-php.my.ini

# LNMP_PHP_XDEBUG_INI=xdebug.my.ini

# LNMP_NGINX_CONF_D=nginx.my

# LNMP_NGINX_UNIT_CONF=nginx-unit.my

# LNMP_NGINX_CONF=nginx.my.conf

# LNMP_HTTPD_CONF=httpd.my.conf

# LNMP_HTTPD_CONF_D=httpd.my

# LNMP_REGISTRY_CONF=config.my.yml

# LNMP_SUPERVISORD_INI_PATH:supervisord.ini

# [Development]
# 开发环境 Docker 镜像前缀

LNMP_DOCKER_IMAGE_PREFIX=khs1994

LNMP_SELF_BUILD_DOCKER_IMAGE_PREFIX=khs1994

## PHP ROOT PATH
## 开发环境 PHP 项目文件路径（绝对路径）

LNMP_PHP_PATH=/app
# LNMP_PHP_PATH=/Users/khs1994/khs1994-lnmp/app

# LNMP_NGINX_CONF_GIT="-b master https://github.com/khs1994-docker/lnmp-nginx-conf-demo.git"

# LNMP_HTTPD_CONF_GIT="-b master https://github.com/khs1994-docker/lnmp-httpd-conf-demo.git"

# LNMP_WINDOWS_NGINX_CONF_GIT="-b windows https://github.com/khs1994-docker/lnmp-nginx-conf-demo.git"

# LNMP_WINDOWS_HTTPD_CONF_GIT="-b windows https://github.com/khs1994-docker/lnmp-httpd-conf-demo.git"

LNMP_INCLUDE="nginx mysql php7 redis phpmyadmin"

# Available soft

# LNMP_INCLUDE="nginx mysql php7 redis \
#                      mariadb memcached rabbitmq \
#                      postgresql mongodb phpmyadmin httpd registry \
#                      etcd \
#                      minio \
#                      supervisord \
#                      "

# NFS VOLUME CONFIG

NFS_DEVICE=192.168.199.100:/

NFS_O=addr=192.168.199.100,vers=4,soft,timeo=180,bg,tcp,rw

# Database Backup commands

LNMP_BACKUP_COMMANDS="--database test"

# https://docs.minio.io/docs/minio-quickstart-guide.html

MINIO_ACCESS_KEY=khs1994miniokey
MINIO_SECRET_KEY=khs1994miniosecret
MINIO_REGION=
MINIO_BROWSER=on
MINIO_WORM=
MINIO_DOMAIN=

# xdebug.remote_host
# host.docker.internal available for docker for desktop
# XDEBUG_REMOTE_HOST=host.docker.internal
XDEBUG_REMOTE_HOST=192.168.199.100

# use by lnmp-npm
LNMP_NODE_IMAGE=node:alpine
# LNMP_NODE_IMAGE=khs1994/node:git-alpine

########################## Don't Edit #############################

LNMP_DOCKER_VERSION=

# Docker Image ARM Tag

ARM_PHP_BASED_OS=

ARM_BASED_OS=-alpine

ARM_ARCH=
