# Version
# 项目版本号

KHS1994_LNMP_DOCKER_VERSION=

# [DNS]

DNS=114.114.114.114

# DNS=8.8.8.8

# [MySQL]

DEV_MYSQL_PORT=127.0.0.1:3306

PRO_MYSQL_PORT=10.141.20.83:3306

# [TimeZone]

TZ=Asia/Shanghai

# [Docker Compose]

COMPOSE_PROJECT_NAME=lnmp

# [Docker Image Tag]

ARM_PHP_BASED_OS=

ARM_BASED_OS=-alpine

ARM_ARCH=

KHS1994_LNMP_NGINX_VERSION=1.13.7

KHS1994_LNMP_MYSQL_VERSION=5.7.20

KHS1994_LNMP_REDIS_VERSION=4.0.6

KHS1994_LNMP_PHP_VERSION=7.2.0

KHS1994_LNMP_MEMCACHED_VERSION=1.5.3

KHS1994_LNMP_RABBITMQ_VERSION=3.6.14

KHS1994_LNMP_POSTGRESQL_VERSION=10.1

KHS1994_LNMP_MONGODB_VERSION=3.6.0


# [Docker Registry v2]

# REGISTRY_URL_AND_USERNAME=docker.khs1994.com/khs1994
REGISTRY_URL_AND_USERNAME=ccr.ccs.tencentyun.com/khs1994
# REGISTRY_URL_AND_USERNAME=khs1994

# [Production]
# 生产环境 Docker 镜像前缀（理论上与私有镜像仓库前缀一致）

PRODUCTIOM_DOCKER_IMAGE_PREFIX=ccr.ccs.tencentyun.com/khs1994
# PRODUCTIOM_DOCKER_IMAGE_PREFIX=khs1994
# PRODUCTIOM_DOCKER_IMAGE_PREFIX=docker.khs1994.com/khs1994

## PHP ROOT PATH
## 生产环境 PHP 项目文件路径（绝对路径）

PRODUCTION_LNMP_PHP_PATH=/app

# [Development]
# 开发环境 Docker 镜像前缀

DEVELOPMENT_DOCKER_IMAGE_PREFIX=khs1994
# DEVELOPMENT_DOCKER_IMAGE_PREFIX=

## Development Build Docker Image
## 开发环境自己构建的 Docker 镜像前缀

DEVELOPMENT_DOCKER_IMAGE_WITH_BUILD_PREFIX=lnmp-

# DEVELOPMENT_DOCKER_IMAGE_WITH_BUILD_PREFIX=khs1994/

## PHP ROOT PATH
## 开发环境 PHP 项目文件路径（绝对路径）

DEVELOPMENT_LNMP_PHP_PATH=/app
