# Version
# 项目版本号
# 若此文件中的变量与系统变量冲突，则系统变量具有最高优先级

KHS1994_LNMP_DOCKER_VERSION=

# 设置项目根目录，以便在任意目录执行该脚本

LNMP_ROOT_PATH=

# LNMP_ROOT_PATH=/data/lnmp
# LNMP_ROOT_PATH=~/khs1994/lnmp
# LNMP_ROOT_PATH=~/khs1994/khs1994-lnmp

# [DNS]

DNS=114.114.114.114

# DNS=8.8.8.8

# [SSL Powered By acme.sh]

DNS_TYPE=dns_dp

## [DNSPOD]

DP_Id=
DP_Key=

# [MySQL]

MYSQL_PORT=127.0.0.1:3306

# [Redis]

REDIS_PORT=127.0.0.1:6379

# [Memcached]

MEMCACHED_PORT=127.0.0.1:11211

# [PostgreSQL]

POSTGRESQL_PORT=127.0.0.1:5432

# [MongoDB]

MONGODB_PORT=127.0.0.1:27017

# [PhpMyAdmin]

PHPMYADMIN_PORT=127.0.0.1:8080

# [TimeZone]

TZ=Asia/Shanghai

# [Docker Compose]

COMPOSE_PROJECT_NAME=lnmp

# [Docker Image ARM Tag]

ARM_PHP_BASED_OS=

ARM_BASED_OS=-alpine

ARM_ARCH=

# [Docker Registry]

KHS1994_LNMP_REGISTRY_HOST=docker.t.khs1994.com

# KHS1994_LNMP_REGISTRY_HOST=docker.t.khs1994.com

KHS1994_LNMP_NGINX_VERSION=1.13.9

KHS1994_LNMP_APACHE_VERSION=2.4.29

KHS1994_LNMP_MYSQL_VERSION=8.0.3

KHS1994_LNMP_MARIADB_VERSION=10.3.4

KHS1994_LNMP_REDIS_VERSION=4.0.8

KHS1994_LNMP_PHP_VERSION=7.2.2

KHS1994_LNMP_MEMCACHED_VERSION=1.5.4

KHS1994_LNMP_RABBITMQ_VERSION=3.7.2

KHS1994_LNMP_POSTGRESQL_VERSION=10.1

KHS1994_LNMP_MONGODB_VERSION=3.7.1

KHS1994_LNMP_REGISTRY_VERSION=latest

# [Development]
# 开发环境 Docker 镜像前缀

LNMP_DOCKER_IMAGE_PREFIX=khs1994
# LNMP_DOCKER_IMAGE_PREFIX=username

## PHP ROOT PATH
## 开发环境 PHP 项目文件路径（绝对路径）

LNMP_PHP_PATH=/app
# LNMP_PHP_PATH=/Users/khs1994/khs1994-lnmp/app
