[submodule "config/nginx"]
	path = config/nginx
	url = https://github.com/khs1994-docker/lnmp-nginx-conf-demo.git
[submodule "config/httpd"]
	path = config/httpd
	url = https://github.com/khs1994-docker/lnmp-httpd-conf-demo.git
[submodule "app/demo"]
	path = app/demo
	url = https://github.com/khs1994-docker/php-demo.git
[submodule "kubernetes"]
	path = kubernetes
	url = http://github.com/khs1994-docker/lnmp-k8s
