version: "3.5"

#
# self build image compose file
#
# $ cd dockerfile/soft
#
# $ cp Dockerfile.example Dockerfile
#
# $ cd ../../
#
# $ ./lnmp-docker.sh build [soft]
#

x-build:
  &default-build
  args:
    ALPINE_URL: mirrors.ustc.edu.cn # dl-cdn.alpinelinux.org

x-common:
  &default-common
  labels:
    - ${LNMP_DOMAIN:-com.khs1994.lnmp}=true
    - ${LNMP_DOMAIN:-com.khs1994.lnmp}.app.env=self_build

services:

  mysql:
    << : *default-common
    build:
      context: ./dockerfile/mysql/
      dockerfile: Dockerfile
      args:
        DEB_URL: mirrors.ustc.edu.cn # deb.debian.org
        DEB_SECURITY_URL: mirrors.ustc.edu.cn/debian-security/ # security.debian.org

  # mariadb:
  #   << : *default-common
  #   build:
  #     context: ./dockerfile/mariadb/
  #     dockerfile: Dockerfile
  #     args:
  #       DEB_URL: mirrors.ustc.edu.cn # deb.debian.org
  #       DEB_SECURITY_URL: mirrors.ustc.edu.cn/debian-security/ # security.debian.org

  redis:
    << : *default-common
    build:
      << : *default-build
      context: ./dockerfile/redis/
      dockerfile: Dockerfile

  php7:
    << : *default-common
    build:
      << : *default-build
      context: ./dockerfile/php/
      cache_from:
        - khs1994/php-fpm:latest-alpine3.7
      dockerfile: Dockerfile
      labels:
        com.khs1994.description: "Extend Official PHP_FPM Docker Image"
        com.khs1994.department: "Chinese"
        com.khs1994.label-with-empty-value: ""
    environment:
      - KHS1994_LNMP_DOCKER_VERSION=${KHS1994_LNMP_DOCKER_VERSION:-v18.05} x86_64 With Build Docker Image

  # rabbitmq:
  #   << : *default-common
  #   build:
  #     << : *default-build
  #     context: ./dockerfile/rabbitmq/
  #     dockerfile: Dockerfile
  #
  # postgresql:
  #   << : *default-common
  #   build:
  #     << : *default-build
  #     context: ./dockerfile/postgresql/
  #     dockerfile: Dockerfile
  #
  # mongodb:
  #   << : *default-common
  #   build:
  #     context: ./dockerfile/mongodb/
  #     dockerfile: Dockerfile
  #     args:
  #       DEB_URL: mirrors.ustc.edu.cn # deb.debian.org
  #       DEB_SECURITY_URL: mirrors.ustc.edu.cn/debian-security/ # security.debian.org

  nginx:
    << : *default-common
    build:
      << : *default-build
      context: ./dockerfile/nginx/
      dockerfile: Dockerfile

  # httpd:
  #   << : *default-common
  #   build:
  #     << : *default-build
  #     context: ./dockerfile/httpd/
  #     dockerfile: Dockerfile

  phpmyadmin:
    << : *default-common
    build:
      << : *default-build
      context: ./dockerfile/phpmyadmin/
      dockerfile: Dockerfile
    labels:
      - "com.khs1994.lnmp.app.env=self_build"

networks:
  frontend:
    << : *default-common
  backend:
    << : *default-common

volumes:
  mysql-data:
    << : *default-common
  # mariadb-data:
  #   << : *default-common
  redis-data:
    << : *default-common
  # rabbitmq-data:
  #   << : *default-common
  # postgresql-data:
  #   << : *default-common
  # mongodb-data:
  #   << : *default-common
  zoneinfo-data:
    << : *default-common
  # registry-data:
  #   << : *default-common
  phpmyadmin-data:
    << : *default-common

secrets:
  db_root_password:
    << : *default-common
    file: ./secrets/db_root_password.txt
