version: '3'

services:
  php7:
    volumes:
      - ./app:/app
      - ./config/php/php-production.ini:/usr/local/etc/php/php.ini
      - ./config/php/null.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./config/php/docker.conf:/usr/local/etc/php-fpm.d/docker.conf
      - ./logs/php-fpm:/var/log/php-fpm
    environment:
      - APP_ENV=production
