version: "3.4"
services:

  mysql:
    restart: always
    # 变量从 .env 文件读取 例如镜像 tag
    image: "mysql:${KHS1994_LNMP_MYSQL_VERSION}"
    env_file:
      - ./env/mysql.env
    #environment:
    #  # your password
    #  - MYSQL_ROOT_PASSWORD=mytest
    networks:
      - backend
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ./config/mysql/mysql.conf.d/mysqld.cnf:/etc/mysql/mysql.conf.d/mysqld.cnf
      - mysql-data:/var/lib/mysql:rw
      - ./logs/mysql:/var/log/mysql:rw
      - ./backup/mysql:/backup:rw
    command: ["mysqld","--character-set-server=utf8mb4"]

  redis:
    restart: always
    image: "${DEVELOPMENT_DOCKER_IMAGE_PREFIX}/redis:test-alpine"
    env_file: .env
    # ports:
    #   - "6379"
    networks:
      - backend
    volumes:
      # - ./config/redis/redis.conf:/redis.conf:ro
      - redis-data:/data:rw
      - ./logs/redis:/var/log/redis:rw
    command: ["redis-server","/redis.conf"]

  # memcached:
  #   restart: always
  #   image: ${DEVELOPMENT_DOCKER_IMAGE_PREFIX}/memcached:test-alpine
  #   networks:
  #     - backend
  #   env_file: .env
  #   # ports:
  #   #   - "11211"
  #
  # rabbitmq:
  #   restart: always
  #   image: ${DEVELOPMENT_DOCKER_IMAGE_PREFIX}/rabbitmq:test-management-alpine
  #   volumes:
  #     - rabbitmq-data:/var/lib/rabbitmq:rw
  #   networks:
  #     - backend
  #   env_file: .env
  #   # ports:
  #   #   - "15672"
  #   #   - "5672"
  #
  # postgresql:
  #    restart: always
  #   image: ${DEVELOPMENT_DOCKER_IMAGE_PREFIX}/postgres:test-alpine
  #   env_file:
  #     - ./env/postgresql.env
  #   volumes:
  #     - postgresql-data:/var/lib/postgresql/data:rw
  #   networks:
  #     - backend
  #   env_file: .env
  #   # ports:
  #   #   - "5432"
  #
  # mongodb:
  #   restart: always
  #   image: mongo:${KHS1994_LNMP_MONGODB_VERSION}
  #   env_file: .env
  #   volumes:
  #     - ./config/mongodb/mongod.conf:/etc/mongod.conf:ro
  #     - mongodb-data:/data/db:rw
  #     - ./logs/mongodb/mongo.log:/var/log/mongodb/mongo.log:rw
  #   networks:
  #     - backend
  #   # ports:
  #   #   - "27017"
  #   command: ["mongod","--config","/etc/mongod.conf"]

  php7:
    restart: always
    image: "${DEVELOPMENT_DOCKER_IMAGE_PREFIX}/php-fpm:test-alpine3.4"
    # container_name: khs1994-docker-lnmp-php-fpm
    networks:
      - frontend
      - backend
    dns:
      - ${DNS}
    command: ["php-fpm","-R"]
    env_file: .env
    environment:
      - APP_ENV=development
      - KHS1994_LNMP_DOCKER_VERSION=${KHS1994_LNMP_DOCKER_VERSION} x86_64 With Pull Docker Image
    volumes:
      # - ./config/php/php-fpm.conf:/usr/local/etc/php-fpm.conf:ro
      # - ./config/php/php-fpm.d/docker.conf:/usr/local/etc/php-fpm.d/docker.conf:ro
      # - ./config/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./app:${DEVELOPMENT_LNMP_PHP_PATH}:rw
      - ./config/php/php-development.ini:/usr/local/etc/php/php.ini:ro
      - ./config/php/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini:ro
    # entrypoint: /code/entrypoint.sh
    # entrypoint:
    #   - php
    #   - -d
    #   - zend_extension=/usr/local/lib/php/extensions/no-debug-non-zts-20100525/xdebug.so
    #   - -d
    #   - memory_limit=-1
    #   - vendor/bin/phpunit
    # extra_hosts:
    #   - "somehost:162.242.195.82"
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost"]
    #   interval: 1m30s
    #   timeout: 10s
    #   retries: 3
    # ports:
    #   - "3000-3005"
    #   - "9090-9091:8080-8081"
    #   - "127.0.0.1:8001:8001"
    #   - "127.0.0.1:5000-5010:5000-5010"
    #   - "6060:6060/udp"

  nginx:
    restart: always
    image: "${DEVELOPMENT_DOCKER_IMAGE_PREFIX}/nginx:test-alpine"
    env_file: .env
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./app:${DEVELOPMENT_LNMP_PHP_PATH}:rw
      - ./config/nginx:/etc/nginx/conf.d:ro
      # - ./config/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs/nginx:/var/log/nginx:rw
    dns: ${DNS}
    networks:
      - frontend

networks:
  frontend:
  backend:

volumes:
  mysql-data:
  redis-data:
  # rabbitmq-data:
  # postgresql-data:
  # mongodb-data:
