version: "3.4"
services:

  mysql:
    restart: always
    image: "mysql:${KHS1994_LNMP_MYSQL_VERSION}"
    env_file:
      - ./env/mysql.env
    networks:
      - backend
    volumes:
      - ./config/mysql/mysql.conf.d/mysqld.cnf:/etc/mysql/mysql.conf.d/mysqld.cnf
      - mysql-data:/var/lib/mysql:rw
      - ./logs/mysql:/var/log/mysql:rw
      - ./backup/mysql:/backup:rw
    command:
      - mysqld
      - --character-set-server=utf8mb4

  redis:
    restart: always
    image: "${DEVELOPMENT_DOCKER_IMAGE_WITH_BUILD_PREFIX}redis:${KHS1994_LNMP_REDIS_VERSION}-alpine"
    env_file: .env
    # ports:
    #   - "6379"
    networks:
      - backend
    volumes:
      # - ./config/redis/redis.conf:/redis.conf:ro
      # - redis-data:/data:rw
      - type: volume
        source: redis-data
        target: /data
      - ./logs/redis:/var/log/redis:rw
    command: ["redis-server","/redis.conf"]

  # memcached:
  #   restart: always
  #   image: ${DEVELOPMENT_DOCKER_IMAGE_WITH_BUILD_PREFIX}memcached:${KHS1994_LNMP_MEMCACHED_VERSION}-alpine
  #   networks:
  #     - backend
  #   env_file: .env
  #   # ports:
  #   #   - "11211"
  #
  # rabbitmq:
  #   restart: always
  #   image: ${DEVELOPMENT_DOCKER_IMAGE_WITH_BUILD_PREFIX}rabbitmq:${KHS1994_LNMP_RABBITMQ_VERSION}-management-alpine
  #   volumes:
  #     - rabbitmq-data:/var/lib/rabbitmq:rw
  #   networks:
  #     - backend
  #   env_file: .env
  #   # ports:
  #   #   - "15672"
  #   #   - "5672"
  #
  # postgresql:
  #    restart: always
  #   image: ${DEVELOPMENT_DOCKER_IMAGE_WITH_BUILD_PREFIX}postgres:${KHS1994_LNMP_POSTGRESQL_VERSION}-alpine
  #   env_file:
  #     - ./env/postgresql.env
  #   volumes:
  #     - postgresql-data:/var/lib/postgresql/data:rw
  #   networks:
  #     - backend
  #   env_file: .env
  #   # ports:
  #   #   - "5432"
  #
  # mongodb:
  #   restart: always
  #   image: mongo:${KHS1994_LNMP_MONGODB_VERSION}
  #   env_file: .env
  #   volumes:
  #     - ./config/mongodb/mongod.conf:/etc/mongod.conf:ro
  #     - mongodb-data:/data/db:rw
  #     - ./logs/mongodb/mongo.log:/var/log/mongodb/mongo.log:rw
  #   networks:
  #     - backend
  #   # ports:
  #   #   - "27017"
  #   command: ["mongod","--config","/etc/mongod.conf"]

  php7:
    restart: always
    image: "${DEVELOPMENT_DOCKER_IMAGE_WITH_BUILD_PREFIX}php:${KHS1994_LNMP_PHP_VERSION}-alpine3.4"
    # container_name: khs1994-docker-lnmp-php-fpm
    volumes:
      # - ./config/php/php-fpm.conf:/usr/local/etc/php-fpm.conf:ro
      # - ./config/php/php-fpm.d/docker.conf:/usr/local/etc/php-fpm.d/docker.conf:ro
      # - ./config/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./logs/php-fpm:/var/log/php-fpm:rw
    networks:
      - frontend
      - backend
    expose:
      - "9000"
    dns:
      - ${DNS}
    command: php-fpm -R
    env_file: .env

  nginx:
    restart: always
    image: "${DEVELOPMENT_DOCKER_IMAGE_WITH_BUILD_PREFIX}nginx:${KHS1994_LNMP_NGINX_VERSION}-alpine"
    env_file: .env
    ports:
      - "443:443"
      - target: 80
        published: 80
        protocol: tcp
        mode: host
    volumes:
      # - ./config/nginx:/etc/nginx/conf.d:ro
      - type: bind
        source: ./config/nginx
        target: /etc/nginx/conf.d
      # - ./config/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs/nginx:/var/log/nginx:rw
    user: root
    working_dir: /app
    networks:
      - frontend
    depends_on:
      - php7

networks:
  frontend:
  backend:

volumes:
  mysql-data:
  redis-data:
  # rabbitmq-data:
  # postgresql-data:
  # mongodb-data:
