version: "3.7"

#
# self build image compose file
#
# $ cd dockerfile/soft
#
# $ cp example.Dockerfile Dockerfile
#
# $ vi Dockerfile
#
# $ cd ../../
#
# $ ./lnmp-docker build [soft]
#

x-build:
  &default-build
  # Dockerfile: my.Dockerfile
  args:
    ALPINE_URL: mirrors.ustc.edu.cn # dl-cdn.alpinelinux.org

x-build-debian:
  &default-build-debian
  # Dockerfile: my.Dockerfile
  args:
    DEB_URL: mirrors.ustc.edu.cn # deb.debian.org
    DEB_SECURITY_URL: mirrors.ustc.edu.cn/debian-security/ # security.debian.org

x-labels:
  &default-labels
  labels:
    - ${LNMP_DOMAIN:-com.khs1994.lnmp}=true
    - ${LNMP_DOMAIN:-com.khs1994.lnmp}.app.env=self_build

services:

  mysql:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build-debian
      context: ./dockerfile/mysql/

  mariadb:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build-debian
      context: ./dockerfile/mariadb/

  redis:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build
      # << : *default-build-debian
      context: ./dockerfile/redis/

  php7:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build
      # << : *default-build-debian
      context: ./dockerfile/php-fpm/
      cache_from:
        - khs1994/php:fpm-alpine
    environment:
      - LNMP_DOCKER_VERSION=${LNMP_DOCKER_VERSION:-v18.09} x86_64 With Build Docker Image

  rabbitmq:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build
      # << : *default-build-debian
      context: ./dockerfile/rabbitmq/

  postgresql:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build
      # << : *default-build-debian
      context: ./dockerfile/postgresql/

  mongodb:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build-debian
      context: ./dockerfile/mongodb/

  nginx:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build
      # << : *default-build-debian
      context: ./dockerfile/nginx/

  nginx-unit:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build
      context: ./dockerfile/nginx-unit

  httpd:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build
      # << : *default-build-debian
      context: ./dockerfile/httpd/

  phpmyadmin:
    << : *default-labels
    build:
      << : *default-labels
      << : *default-build
      # << : *default-build-debian
      context: ./dockerfile/phpmyadmin/

networks:
  frontend:
    << : *default-labels
  backend:
    << : *default-labels

volumes:
  mysql-data:
    << : *default-labels
  mariadb-data:
    << : *default-labels
  redis-data:
    << : *default-labels
  rabbitmq-data:
    << : *default-labels
  postgresql-data:
    << : *default-labels
  mongodb-data:
    << : *default-labels
  zoneinfo-data:
    << : *default-labels
  registry-data:
    << : *default-labels
  phpmyadmin-data:
    << : *default-labels
  etcd-data:
    << : *default-labels
  composer_cache-data:
    << : *default-labels
  nginx-unit-state-data:
    << : *default-labels
  minio-data:
    << : *default-labels

secrets:
  db_root_password:
    << : *default-labels
    file: ./secrets/${LNMP_DB_ROOT_PASSWORD_PATH:-db_root_password.txt}
  supervisord_ini:
    << : *default-labels
    file: ./config/supervisord/${LNMP_SUPERVISORD_INI_PATH:-supervisord.ini}
