version: '3'

services:
  mysql:
    build:
      context: ./dockerfile/mysql/
      dockerfile: Dockerfile
    image: lnmp-mysql:latest
    env_file: .env
    #environment:
    #  # your password
    #  - MYSQL_ROOT_PASSWORD=mytest
    volumes:
      - ./var/lib/mysql:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql

  redis:
    build:
      context: ./dockerfile/redis/
      dockerfile: Dockerfile
    image: lnmp-redis:latest
    volumes:
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ./var/lib/redis:/data
      - ./logs/redis:/var/log/redis
    command: redis-server /usr/local/etc/redis/redis.conf

  php7:
    build:
      context: ./dockerfile/php-fpm/
      dockerfile: Dockerfile
    image: lnmp-php:latest
    volumes:
      - ./app:/app
      - ./config/php/php.ini:/usr/local/etc/php/php.ini
      - ./config/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./config/php/docker.conf:/usr/local/etc/php-fpm.d/docker.conf
      - ./logs/php-fpm:/var/log/php-fpm

  web:
    build:
      context: ./dockerfile/nginx/
      dockerfile: Dockerfile
    image: lnmp-nginx:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./app:/app
      - ./config/nginx:/etc/nginx/conf.d
      - ./logs/nginx:/var/log/nginx

  mongo:
    build:
      context: ./dockerfile/mongodb/
      dockerfile: Dockerfile
    image: lnmp-mongo:latest
    volumes:
      - ./config/mongodb/mongod.conf:/etc/mongod.conf
      - ./var/lib/mongo:/data/db
      - ./logs/mongodb/mongo.log:/var/log/mongodb/mongo.log
    # ports:
    #   - "27017:27017"

  memcached:
    build:
      context: ./dockerfile/memcached/
      dockerfile: Dockerfile
    image: lnmp-memcached:latest
    # ports:
    #   - "11211:11211"

  rabbitmq:
    build:
      context: ./dockerfile/rabbitmq/
      dockerfile: Dockerfile
    image: lnmp-rabbitmq:latest
    volumes:
      - ./var/lib/rabbitmq:/var/lib/rabbitmq
    # ports:
    #   - "15672:15672"
    #   - "5672:5672"
