version: "3.3"
services:

  redis:
    # 生产环境默认拉取镜像（可以配置私有仓库）
    image: khs1994/redis:${KHS1994_LNMP_REDIS_VERSION}-alpine

  memcached:
    image: khs1994/memcached:${KHS1994_LNMP_MEMCACHED_VERSION}-alpine

  rabbitmq:
    image: khs1994/rabbitmq:${KHS1994_LNMP_RABBITMQ_VERSION}-alpine

  postgresql:
    image: khs1994/postgresql:${KHS1994_LNMP_POSTGRESQL_VERSION}-alpine

  php7:
    image: khs1994/php-fpm:${KHS1994_LNMP_PHP_VERSION}
    volumes:
      - ./config/php/php-production.ini:/usr/local/etc/php/php.ini:ro
      - ./config/php/null.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini:ro
    environment:
      - APP_ENV=production
      - KHS1994_LNMP_DOCKER_VERSION=${KHS1994_LNMP_DOCKER_VERSION} x86_64 With Pull Docker Image

  nginx:
    image: khs1994/nginx:${KHS1994_LNMP_NGINX_VERSION}-alpine
