version: "3.4"
services:

  # # MySQL 暂时没有 arm 镜像
  # mysql:
  #   # build:
  #   #   context: ./dockerfile/${ARM_ARCH}/mysql/
  #   #   dockerfile: Dockerfile
  #   # image: lnmp-mysql:latest
  #   restart: always
  #   image: "${ARM_ARCH}/mysql:${KHS1994_LNMP_MYSQL_VERSION}"
  #   env_file:
  #     - ./env/mysql.env
  #   networks:
  #     - backend
  #   environment:
  #   # your password
  #     - MYSQL_ROOT_PASSWORD=mytest
  #   ports:
  #     - "${DEV_MYSQL_PORT}:3306"
  #   volumes:
  #     - mysql-data:/var/lib/mysql
  #     - ./logs/mysql:/var/log/mysql

  redis:
    # build:
    #   context: ./dockerfile/${ARM_ARCH}/redis/
    #   dockerfile: Dockerfile
    # image: lnmp-redis:latest
    restart: always
    image: "${ARM_ARCH}/redis:${KHS1994_LNMP_REDIS_VERSION}${ARM_ALPINE_OS}"
    env_file:
      - ./env/timezone.env
    networks:
      - backend
    volumes:
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
      - redis-data:/data
      - ./logs/redis:/var/log/redis
    expose:
      - "6379"
    # ports:
    #   - "6379"
    command: ["redis-server","/usr/local/etc/redis/redis.conf"]

  memcached:
    # build:
    #   context: ./dockerfile/${ARM_ARCH}/memcached/
    #   dockerfile: Dockerfile
    restart: always
    image: ${ARM_ARCH}/memcached:${KHS1994_LNMP_MEMCACHED_VERSION}
    networks:
      - backend
    env_file:
      - ./env/timezone.env
    # ports:
    #   - "11211"

  rabbitmq:
    # build:
    #   context: ./dockerfile/${ARM_ARCH}/rabbitmq/
    #   dockerfile: Dockerfile
    restart: always
    image: ${ARM_ARCH}/rabbitmq:${KHS1994_LNMP_RABBITMQ_VERSION}-management
    networks:
      - backend
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    env_file:
      - ./env/timezone.env
    # ports:
    #   - "15672"
    #   - "5672"

  postgresql:
    # build:
    #   context: ./dockerfile/${ARM_ARCH}/postgresql/
    #   dockerfile: Dockerfile
    restart: always
    image: ${ARM_ARCH}/postgres:${KHS1994_LNMP_POSTGRESQL_VERSION}
    env_file:
      - ./env/postgresql.env
      - ./env/timezone.env
    networks:
      - backend
    volumes:
      - postgresql-data:/var/lib/postgresql
    # ports:
    #   - "5432"

  # mongodb:
  #   # build:
  #   #   context: ./dockerfile/${ARM_ARCH}/mongodb/
  #   #   dockerfile: Dockerfile
  #   restart: always
  #   image: ${ARM_ARCH}/mongo:${KHS1994_LNMP_MONGODB_VERSION}
  #   networks:
  #     - backend
  #   volumes:
  #     - ./config/mongodb/mongod.conf:/etc/mongod.conf
  #     - mongodb-data:/data/db
  #     - ./logs/mongodb/mongo.log:/var/log/mongodb/mongo.log
  #   ports:
  #     - "27017"
  #   env_file:
  #     - ./env/timezone.env
  #   command: ["mongod","--config","/etc/mongod.conf"]


  php7:
    # arm 平台暂时只支持 开发环境，由于树莓派性能问题，镜像由 macOS 构建，默认拉取镜像
    # build:
    #   context: ./dockerfile/${ARM_ARCH}/php-fpm/
    #   dockerfile: Dockerfile
    restart: always
    image: "khs1994/${ARM_ARCH}-php-fpm:${KHS1994_LNMP_PHP_VERSION}-${ARM_PHP_OS}"
    networks:
      - frontend
      - backend
    volumes:
      - ./app:${DEVELOPMENT_LNMP_PHP_PATH}:rw
      - ./config/php/php-development.ini:/usr/local/etc/php/php.ini:ro
      - ./config/php/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini:ro
      - ./config/php/php-fpm.conf:/usr/local/etc/php-fpm.conf:ro
      - ./config/php/php-fpm.d/docker.conf:/usr/local/etc/php-fpm.d/docker.conf:ro
      - ./config/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./logs/php-fpm:/var/log/php-fpm:rw
    env_file: .env
    environment:
      - KHS1994_LNMP_DOCKER_VERSION=${KHS1994_LNMP_DOCKER_VERSION} ${ARM_ARCH} With Pull Docker Image
      - APP_ENV=development
    command: ["php-fpm","-R"]

  nginx:
    # build:
    #   context: ./dockerfile/${ARM_ARCH}/nginx/
    #   dockerfile: Dockerfile
    # image: lnmp-nginx:latest
    restart: always
    image: "${ARM_ARCH}/nginx:${KHS1994_LNMP_NGINX_VERSION}"
    env_file:
      - ./env/timezone.env
    networks:
      - frontend
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./app:${DEVELOPMENT_LNMP_PHP_PATH}:rw
      - ./config/nginx:/etc/nginx/conf.d:ro
      - ./config/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs/nginx:/var/log/nginx
    depends_on:
      - php7

networks:
  frontend:
  backend:

volumes:
  # mysql-data:
  redis-data:
  rabbitmq-data:
  postgresql-data:
  # mongodb-data:
