#
# Windows Only
#
# https://github.com/docker/for-win/issues/1829

# COMPOSE_CONVERT_WINDOWS_PATHS=1

# CI_INCLUDE="gogs registry mysql redis nginx"

CI_INCLUDE="gogs registry mysql redis"

#
# 使用外部的 MySQL Redis (高级选项)
#

CI_EXTERNAL_MYSQL_HOST=
CI_EXTERNAL_MYSQL_PORT=3306
CI_EXTERNAL_MYSQL_USERNAME=
CI_EXTERNAL_MYSQL_PASSWORD=
CI_EXTERNAL_MYSQL_DATABASE=

CI_EXTERNAL_REDIS_HOST=
CI_EXTERNAL_REDIS_PORT=6379

#
# Port
#

CI_DRONE_PORT=8000

CI_GOGS_PORT=3000

CI_GOGS_SSH_PORT=8022

CI_REGISTRY_PORT=5000

# set open db and cache port

CI_REDIS_PORT=16379

CI_MYSQL_PORT=13306

################################################################################

#
# 基于端口版
#

CI_HOST=
# CI_HOST=192.168.199.100

CI_DOMAIN=
# TLS only
# CI_DOMAIN=t.khs1994.com

DRONE_GITLAB_URL=

################################################################################

#
# [Gogs]
#

CI_MAIL_HOST=
CI_MAIL_FROM=
CI_MAIL_USERNAME=
CI_MAIL_PASSWORD=

#
# Registry
#

WEBHOOKS_HOST=
REDIS_HOST=redis:6379

################################################################################

#
# [Drone]
#

DRONE_SECRET=secret
DRONE_OPEN=true

#
# [Drone Gogs]
#

DRONE_GOGS_PRIVATE_MODE=true

#
# [Drone GitHub]
#

DRONE_GITHUB_CLIENT=
DRONE_GITHUB_SECRET=

DRONE_ADMIN=khs1994,khs1994-merge-robot

#
# [Drone Coding]
#

DRONE_CODING_CLIENT=
DRONE_CODING_SECRET=

#
# [Drone GitLab]
#

DRONE_GITLAB_CLIENT=
DRONE_GITLAB_SECRET=

DRONE_GITLAB_URL=

################################################################################

# Don't Edit

#
# TLS
#

# DRONE_SERVER_CERT=/etc/certs/drone.t.khs1994.com.crt
# DRONE_SERVER_KEY=/etc/certs/drone.t.khs1994.com.key

CI_DB_TYPE=

CI_DRONE_VERSION=0.8.7
CI_NGINX_VERSION=1.15.7
CI_REDIS_VERSION=5.0.3
CI_MYSQL_VERSION=8.0.13

DRONE_GITHUB_CLIENT_TEST=
DRONE_GITHUB_SECRET_TEST=
