# CI_INCLUDE="gogs registry mysql redis nginx"

CI_INCLUDE="gogs registry mysql redis"

CI_DEBUG=true
# CI_DEBUG=false

#
# 使用外部的 MySQL Redis (高级选项)
#

CI_EXTERNAL_MYSQL_HOST=
CI_EXTERNAL_MYSQL_PORT=3306
CI_EXTERNAL_MYSQL_USERNAME=
CI_EXTERNAL_MYSQL_PASSWORD=
CI_EXTERNAL_MYSQL_DATABASE=

CI_EXTERNAL_REDIS_HOST=
CI_EXTERNAL_REDIS_PORT=6379

#
# Port
#

CI_DRONE_PORT=8000

CI_GOGS_PORT=3000

CI_GOGS_SSH_PORT=8022

CI_REGISTRY_PORT=5000

# set open db and cache port

CI_REDIS_PORT=16379

CI_MYSQL_PORT=13306

################################################################################

#
# 基于端口版
#

CI_HOST=
# CI_HOST=192.168.199.100

# TLS only
CI_DOMAIN=
# CI_DOMAIN=t.khs1994.com

# Drone 网站将为 drone.CI_DOMAIN
# gogs 网站将为 git.CI_DOMAIN
################################################################################

#
# [Gogs]
#

CI_MAIL_HOST=
CI_MAIL_FROM=
CI_MAIL_USERNAME=
CI_MAIL_PASSWORD=

#
# [Registry]
#

WEBHOOKS_HOST=
REDIS_HOST=redis:6379

################################################################################

#
# [Drone] https://docs.drone.io/server/reference/
#

DRONE_RPC_SECRET=secret

#
# [Drone Gogs] https://docs.drone.io/server/provider/gogs/
#

DRONE_GIT_ALWAYS_AUTH=false

#
# [Drone GitHub] https://docs.drone.io/server/provider/github/
#

DRONE_GITHUB_SERVER=https://github.com
DRONE_GITHUB_CLIENT_ID=
DRONE_GITHUB_CLIENT_SECRET=

# https://docs.drone.io/server/reference/drone-user-create/
# Drone 启动时创建的账户
# 可以将此账户设置为 [管理员账户](https://docs.drone.io/server/user/admin/)
# 只有管理员账户所属的仓库才可以启用 `Trusted` 选项（使用 volumes 等特权指令）
# 设置此变量请将 USERNAME 替换为自己的 (github 用户名或 gogs 用户名)
# 或者参考 https://docs.drone.io/server/user/admin/ 使用 CLI 设置管理员
DRONE_USER_CREATE=
# DRONE_USER_CREATE=username:USERNAME,admin:true
# DRONE_USER_CREATE=username:khs1994,machine:false,admin:true,token:$(openssl rand -hex 16)

# https://docs.drone.io/server/reference/drone-user-filter/
# https://docs.drone.io/server/user/registration/
# Drone 允许哪些用户注册
# 值可以是用户名或组织名
DRONE_USER_FILTER=
# DRONE_USER_FILTER=khs1994,github

#
# [Drone GitLab] https://docs.drone.io/server/provider/gitlab/
#

DRONE_GITLAB_CLIENT_ID=
DRONE_GITLAB_CLIENT_SECRET=

DRONE_GITLAB_SERVER=

#
# [Drone docker runner]
#

DRONE_RUNNER_NAME=
DRONE_UI_DISABLED=true
# DRONE_UI_DISABLED=false
DRONE_UI_USERNAME=root
DRONE_UI_PASSWORD=root

################################################################################

# Don't Edit

#
# TLS
#

# DRONE_SERVER_CERT=/etc/certs/drone.t.khs1994.com.crt
# DRONE_SERVER_KEY=/etc/certs/drone.t.khs1994.com.key

CI_DB_TYPE=

CI_DRONE_VERSION=2.4.0
CI_NGINX_VERSION=1.21.3
CI_REDIS_VERSION=7.0.0
CI_MYSQL_VERSION=8.0.26

DRONE_GITHUB_CLIENT_ID_TEST=
DRONE_GITHUB_CLIENT_SECRET_TEST=
