#
# Laravel 示例配置
#

<VirtualHost *:443>
    DocumentRoot "/app/laravel/public"
    ServerName laravel.t.khs1994.com

    ErrorLog "logs/laravel.t.khs1994.com.error.log"
    CustomLog "logs/laravel.t.khs1994.com.access.log" common

    SSLEngine on
    SSLCertificateFile conf.d/demo-ssl/www.t.khs1994.com.crt
    SSLCertificateKeyFile conf.d/demo-ssl/www.t.khs1994.com.key

    # HSTS (mod_headers is required) (15768000 seconds = 6 months)
    Header always set Strict-Transport-Security "max-age=15768000"

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://php7:9000"
    </FilesMatch>

    <Directory "/app/laravel/public" >
      Options Indexes FollowSymLinks
      AllowOverride All
      Require all granted
    </Directory>

</VirtualHost>
