# listen        443 ssl http2;

ssl_certificate            conf.d/demo-ssl/t.khs1994.com.crt;
ssl_certificate_key        conf.d/demo-ssl/t.khs1994.com.key;
ssl_session_cache          shared:SSL:1m;
ssl_session_timeout        5m;
ssl_protocols              TLSv1.2 TLSv1.3;
ssl_ciphers                'ECDHE-RSA-AES128-GCM-SHA256:HIGH:!aNULL:!MD5';
ssl_prefer_server_ciphers  on;
