index index.html index.php;

location / {
    try_files $uri $uri/ /index.php?$query_string;
}

location ~.*\.(gif|jpg|jpeg|png|bmp|swf|js|css)$ {
    access_log off;
}

location ~ .*\.php(\/.*)*$ {
  # WSL1 php-fpm not support listen ip:port
  fastcgi_pass   unix:/run/php74-fpm.sock;
  include        fastcgi.conf;
  # fastcgi_read_timeout 120s;
}
