#
# 80 demo
#
server{
  listen  80;
  root    /mnt/c/Users/90621/lnmp/app/laravel/public;
  server_name 127.0.0.1;

  include conf.d/php.config;
}

#
# ssl demo
#
server{
  server_name   laravel.t.khs1994.com;
  root          /mnt/c/Users/90621/lnmp/app/laravel/public;

  include conf.d/ssl.config;
  include conf.d/php.config;
}
