.git
.github

.idea

vendor

node_modules/

public/js/
public/css/
public/mix-manifest.json

yarn-error.log

.dockerignore
.editorconfig
.gitattributes
.gitignore
.styleci.yml

Dockerfile.*
Dockerfile

bootstrap/cache/*
storage/

tests
phpunit.xml
.env
.env.example
.env.*

server.php

README.md

.php_cs

stubs
