version: "3.8"
services:

  alpine:
    build:
      context: ./alpine
      args:
        # OPENSSL_BRANCH: master
        NGINX_VERSION: ${NGINX_VERSION:-1.19.3}
        ALPINE_URL: mirrors.aliyun.com # dl-cdn.alpinelinux.org
        OPENSSL_URL: https://github.com.cnpmjs.org/google/boringssl
    image: khs1994/nginx:${NGINX_VERSION:-1.19.3}-alpine
    ports:
      - 443:443/tcp
      - 443:443/udp
      - 80:80
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro

  buster:
    build:
      context: ./buster
      args:
        # OPENSSL_BRANCH: master
        NGINX_VERSION: ${NGINX_VERSION:-1.19.3}
        OPENSSL_URL: https://github.com.cnpmjs.org/google/boringssl
        DEB_URL: mirrors.ustc.edu.cn # deb.debian.org
        DEB_SECURITY_URL: mirrors.ustc.edu.cn/debian-security # security.debian.org/debian-security
    image: khs1994/nginx:${NGINX_VERSION:-1.19.3}-buster
    ports:
      - 443:443/tcp
      - 443:443/udp
      - 80:80
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro

  official:
    image: nginx:1.19.3-alpine
    ports:
      - 443:443
      - 80:80
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
