server {
  # 更改端口号

  listen 10000 ssl http2;

  # 更改 CI 的域名

  server_name demo.ci.khs1994.com;

#
# 不要编辑以下内容
#

  root /app/.pcit/public;

  ssl_certificate            conf.d/ssl/ci.crt;
  ssl_certificate_key        conf.d/ssl/ci.crt;

  include conf.d/demo-include-ssl-common.config;

  include conf.d/demo-include-php.config;

  include conf.d/demo-ajax-header.config;

  # https://avatars2.githubusercontent.com/u/16733187?v=4
  #                    /proxy_github_image/u/16733187?v=4
  location /proxy_github_image/ {
    proxy_pass https://avatars2.githubusercontent.com/;
    proxy_set_header  Host              $http_host;   # required for docker client's sake
    proxy_set_header  X-Real-IP         $remote_addr; # pass on real client's IP
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_read_timeout                  900;
  }

  # https://raw.githubusercontent.com/yeasy/docker_practice/master/SUMMARY.md
  #                 /proxy_github_raw/yeasy/docker_practice/master/SUMMARY.md
  location /proxy_github_raw/ {
    proxy_pass https://raw.githubusercontent.com/;
    proxy_set_header  Host              $http_host;   # required for docker client's sake
    proxy_set_header  X-Real-IP         $remote_addr; # pass on real client's IP
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_read_timeout                  900;
  }

  location /proxy_github_api/ {
    proxy_pass https://api.github.com/;
    proxy_set_header  Host              $http_host;   # required for docker client's sake
    proxy_set_header  X-Real-IP         $remote_addr; # pass on real client's IP
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_read_timeout                  900;
  }
}
