server {
  # 更改端口号

  listen 10000 ssl http2;

  # 更改 CI 的域名

  server_name demo.ci.khs1994.com;

#
# 不要编辑以下内容
#

  root /app/.pcit/public;

  index index.html;

  ssl_certificate            conf.d/ssl/ci.crt;
  ssl_certificate_key        conf.d/ssl/ci.crt;

  ssl_session_cache          shared:SSL:1m;
  ssl_session_timeout        5m;
  ssl_protocols              TLSv1.2 TLSv1.3;
  ssl_ciphers                'TLS13+AESGCM+AES128:TLS13+AESGCM+AES256:TLS13+CHACHA20:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';

  ssl_prefer_server_ciphers  on;

  ssl_stapling               on;
  ssl_stapling_verify        on;

  location / {
      try_files $uri $uri/ @index;
  }

  location ~.*\.(ico|gif|jpg|jpeg|png|bmp|swf|js|css)$ {
      access_log off;
  }

  location @index {
    # fastcgi_pass   php7:9000;
    # include        fastcgi.conf;

    proxy_pass http://pcit:80;

    # fastcgi_connect_timeout 300;
    # fastcgi_send_timeout 300;
    # fastcgi_read_timeout 300;
  }

  location ~ .*\.php(\/.*)*$ {
    proxy_pass http://pcit:80;
  }

  add_header Access-Control-Allow-Methods *;
  add_header Access-Control-Allow-Max-Age 3600;
  add_header Access-Control-Allow-Credentials true;

  add_header Access-Control-Allow-Origin $http_origin;
  add_header Access-Control-Allow-Headers $http_access_control_request_headers;

  gzip on;
  gzip_http_version 1.1;
  gzip_vary on;
  # gzip_comp_level 6;
  # gzip_proxied any;
  gzip_types text/plain text/css application/json application/javascript application/x-javascript text/javascript application/xml  application/x-httpd-php image/jpeg image/gif image/png font/ttf font/opentype font/x-woff image/svg+xml;
  gzip_min_length 1k;

  # 代理设置

  # https://avatars2.githubusercontent.com/u/16733187?v=4
  #                    /proxy_github_image/u/16733187?v=4
  location /proxy_github_image/ {
    proxy_pass https://avatars2.githubusercontent.com/;
    proxy_set_header  Host              $http_host;   # required for docker client's sake
    proxy_set_header  X-Real-IP         $remote_addr; # pass on real client's IP
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_read_timeout                  900;
  }

  # https://raw.githubusercontent.com/yeasy/docker_practice/master/SUMMARY.md
  #                 /proxy_github_raw/yeasy/docker_practice/master/SUMMARY.md
  location /proxy_github_raw/ {
    proxy_pass https://raw.githubusercontent.com/;
    proxy_set_header  Host              $http_host;   # required for docker client's sake
    proxy_set_header  X-Real-IP         $remote_addr; # pass on real client's IP
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_read_timeout                  900;
  }

  location /proxy_github_api/ {
    proxy_pass https://api.github.com/;
    proxy_set_header  Host              $http_host;   # required for docker client's sake
    proxy_set_header  X-Real-IP         $remote_addr; # pass on real client's IP
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_read_timeout                  900;
  }
}
