name: kubernetes-server
version: 1.18.0
url: "https://storage.googleapis.com/kubernetes-release/release/v${VERSION}/kubernetes-server-${env:lwpm_os}-${env:lwpm_architecture}.tar.gz"
scripts:
  download: |
    mkdir -force $env:LWPM_PKG_ROOT/dist/${env:lwpm_os}-${env:lwpm_architecture} | out-null

    curl -L `
      $url `
      -o $env:LWPM_PKG_ROOT/dist/${env:lwpm_os}-${env:lwpm_architecture}/$filename
platform:
  - architecture: amd64
    os: linux
  - architecture: arm64
    os: linux
  - architecture: arm
    os: linux
