[Unit]
Description=Cleanup LNMP Docker logs Weekly
Documentation=https://doc.lnmp.khs1994.com

[Service]
WorkingDirectory=/data/lnmp
# WorkingDirectory=/home/core/lnmp
Environment=LNMP_PATH=/data/lnmp
# Environment=LNMP_PATH=/home/core/lnmp
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Type=simple
ExecStart=/usr/bin/env PATH=/opt/bin:${PATH} ${LNMP_PATH}/lnmp-docker.sh cleanup
