[Unit]
Description=LNMP Docker cleanup logs weekly
Documentation=https://docs.lnmp.khs1994.com

[Timer]
OnCalendar=Mon *-*-* 01:00:00
RandomizedDelaySec=2min

[Install]
WantedBy=multi-user.target
