[Unit]
Description=Start LNMP Within 2 minutes Powered by Docker Compose
Documentation=https://doc.lnmp.khs1994.com

[Service]
WorkingDirectory=/data/lnmp
# WorkingDirectory=/home/core/lnmp
Environment=LNMP_PATH=/data/lnmp
# Environment=LNMP_PATH=/home/core/lnmp
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/bin
ExecStartPre=/usr/bin/docker info
ExecStart=/usr/bin/env ${LNMP_PATH}/lnmp-docker.sh production --systemd
# ExecStart=/usr/bin/env PATH=/opt/bin:${PATH} ${LNMP_PATH}/lnmp-docker.sh development --systemd
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/env ${LNMP_PATH}/lnmp-docker.sh down

[Install]
WantedBy=multi-user.target
