#
# 所有 MySQL 自定义配置请在这里配置
# 修改字符集为 utf8mb4
#
# @link https://dev.mysql.com/doc/refman/8.0/en/mysqld-option-tables.html
#

[mysqld_safe]

default-character-set = utf8mb4

[mysqld]

#
# 8.0.4-rc add
#
# https://github.com/khs1994-docker/lnmp/issues/154
#

default_authentication_plugin = mysql_native_password

# default_authentication_plugin = caching_sha2_password

skip-host-cache
skip-name-resolve
# log-error=/var/log/mysql/error.log

# 日志存储方式

# log_output = FILE

#
# https://www.cnblogs.com/beginner-boy/p/7519851.html
#

log_timestamps=SYSTEM

#
# 忽略客户端字符集的设置，强制使用服务端 character-set-server 的设置
#
# mysql --default-character-set=utf8 -uroot -p
#
# SHOW VARIABLES LIKE 'char%';
#
# @link https://dev.mysql.com/doc/refman/8.0/en/faqs-cjk.html#faq-cjk-how-use-4-0-charset
#

skip-character-set-client-handshake

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

#
# slow log
#
# https://www.cnblogs.com/saneri/p/6656161.html
#

# 是否开启慢查询日志
#
# select sleep(2); 测试慢查询日志
#

slow_query_log = 1

# slow_launch_time     # default 2
# 慢查询日志存储路径
# slow-query-log-file  # 默认为 /var/lib/mysql/host_name-slow.log
# 慢查询阈值
long_query_time = 2    # default 10.000000 单位 s

# slow-query-log-file=/var/log/mysql/slow.staging.log

# 未使用索引的查询也被记录到慢查询日志中（可选项）

log_queries_not_using_indexes = 1

# 是否将慢管理语句例如ANALYZE TABLE和ALTER TABLE等记入慢查询日志

log_slow_admin_statements # default off

log_slow_slave_statements # default off

# default-storage-engine=InnoDB

[client]

default-character-set = utf8mb4

[mysql]

default-character-set = utf8mb4

[mysqldump]
