server {
  listen        443 ssl http2;
  server_name   mirror.t.khs1994.com;
  include       conf.d/demo-include-ssl.config;

  location = /v2/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/khs1994/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/pcit/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/lwpm/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/lrew/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/lrewpkg/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/library-mirror/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/gcr-mirror/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/quay-mirror/ {
    return 301 https://ccr.ccs.tencentyun.com$request_uri;
  }

  location /v2/ {
    return 404 '{"errors":[{"code":"DENIED","message":"requested access to the resource is denied"}]}';
  }
}

server {
  listen        443 ssl http2;
  server_name   gcr.t.khs1994.com;
  include       conf.d/demo-include-ssl.config;

  location = /v2/ {
    return 301 https://registry.cn-hangzhou.aliyuncs.com$request_uri;
  }

  location /v2/google_containers/ {
    # rewrite ^/v2/(.*)$ https://registry.cn-hangzhou.aliyuncs.com/v2/google_containers/$1 permanent;
    return 301 https://registry.cn-hangzhou.aliyuncs.com$request_uri;
  }

  location /v2/ {
    return 404 '{"errors":[{"code":"DENIED","message":"requested access to the resource is denied"}]}';
  }
}
