gzip on;
gzip_http_version 1.1;
gzip_vary on;
# gzip_comp_level 6;
# gzip_proxied any;
gzip_types text/plain text/css application/json application/javascript application/x-javascript text/javascript application/xml  application/x-httpd-php image/jpeg image/gif image/png font/ttf font/opentype font/x-woff image/svg+xml;
gzip_min_length 1k;
