name: runc
version: 1.1.1
url: "https://github.com/opencontainers/runc/releases/download/v${VERSION}/runc.${env:lwpm_architecture}"
url-mirror: https://download.fastgit.org/opencontainers/runc/releases/download/v${VERSION}/runc.${env:lwpm_architecture}
scripts:
  platform-reqs: if(!$IsLinux){echo $False}
  dist: |
    _mkdir $env:LWPM_PKG_ROOT/dist

    curl -L `
      $url `
      -o $env:LWPM_PKG_ROOT/dist/runc
platform:
  - architecture: amd64
    os: linux
  - architecture: arm64
    os: linux
