DOCKER_TLS_VERIFY=1

# 替换为 Docker 服务端 IP
DOCKER_HOST="tcp://192.168.56.100:2376"

# 替换为证书路径
DOCKER_CERT_PATH="/Users/khs1994/.docker"

# Fish

set -gx DOCKER_TLS_VERIFY "1"

# 替换为 Docker 服务端 IP
set -gx DOCKER_HOST "tcp://192.168.56.100:2376"

# 替换为证书路径
set -gx DOCKER_CERT_PATH "/Users/khs1994/.docker"
