# fix me Install file Local Server
LOCAL_HOST=192.168.57.1

KUBERNETES_VERSION=v1.13.0

# 时区

TZ=Asia/Shanghai

#
# 必须修改
# SSH 公钥
# cat ~/.ssh/id_rsa.pub
# 注意不加后边的 host
#

SSH_PUB=

# https://discovery.etcd.io/new?size=3

DISCOVERY_URL=discovery.etcd.io/98d008d2294e63f67a79fb4a232331bc

# fix me k8s apiserver 所在地址
server_hosts=khs1994.com,www.khs1994.com,192.168.57.110,192.168.57.111,192.168.57.112,127.0.0.1,localhost

k8s_hosts=kubernetes,kubernetes.default,kubernetes.default.svc,kubernetes.default.svc.cluster,kubernetes.default.svc.cluster.local

# docker registry 所在地址
registry_hosts=127.0.0.1,192.168.57.110,gcr.io,k8s.gcr.io,*.gcr.io,docker.khs1994.com,docker.doamin.com

NODE_NUM=3

ENCRYPTION_KEY=OjX8IHpM4bq+QboY78lAdy5V8KrwHtsDef0KANJLzYk=

# ENCRYPTION_KEY=$(head -c 32 /dev/urandom | base64)

# 最好使用 当前未用的网段 来定义服务网段和 Pod 网段

# 服务网段，部署前路由不可达，部署后集群内路由可达(kube-proxy 和 ipvs 保证)
SERVICE_CIDR=10.254.0.0/16

# Pod 网段，建议 /16 段地址，部署前路由不可达，部署后集群内路由可达(flanneld 保证)
CLUSTER_CIDR=172.30.0.0/16

# 服务端口范围 (NodePort Range) default is 30000-32767
NODE_PORT_RANGE="1-65535"

# fix me 集群各机器 IP 数组
NODE_IPS=192.168.57.110,192.168.57.111,192.168.57.112

# fix me 集群各 IP 对应的 主机名数组
NODE_NAMES=coreos1,coreos2,coreos3

# fix me kube-apiserver 节点 IP
MASTER_IP=192.168.57.110

# fix me kube-apiserver https 地址
KUBE_APISERVER=https://192.168.57.110:6443

# fix me etcd 集群服务地址列表
ETCD_ENDPOINTS="https://192.168.57.110:2379,https://192.168.57.111:2379,https://192.168.57.112:2379"

# fix me etcd 集群间通信的 IP 和端口
ETCD_NODES="coreos1=https://192.168.57.110:2380,coreos2=https://192.168.57.111:2380,coreos3=https://192.168.57.112:2380"

# etcd token

ETCD_TOKEN=mytoken

# flanneld 网络配置前缀
# FLANNELD_ETCD_PREFIX=/kubernetes/network
FLANNELD_ETCD_PREFIX=/coreos.com/network

FLANNELD_IFACE=eth0
# FLANNELD_IFACE=enp0s3

# kubernetes 服务 IP (一般是 SERVICE_CIDR 中第一个IP)
CLUSTER_KUBERNETES_SVC_IP=10.254.0.1

# 集群 DNS 服务 IP (从 SERVICE_CIDR 中预分配)
CLUSTER_DNS_SVC_IP=10.254.0.2

# 集群 DNS 域名
CLUSTER_DNS_DOMAIN=cluster.local.
