[global]

pid = /var/run/php-fpm.pid

error_log = /var/log/php72-fpm.error.log

[www]

access.log = /var/log/php72-fpm.access.log

user = nginx
group = nginx

request_slowlog_timeout = 5
slowlog = /var/log/php72-fpm.slow.log

clear_env = no

catch_workers_output = yes

; listen = 9000
; env[APP_ENV] = development

listen = /run/php-fpm.sock

listen.owner = nginx
listen.group = nginx
listen.mode = 0660

env[APP_ENV] = wsl
