services:

  wsl:
    build: .
    image: khs1994/wsl:latest

# https://endoflife.software/operating-systems/linux/debian
# https://github.com/docker-library/docs/tree/master/debian
  wsl-php-builder-74:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_74:-7.4.33}
        - OS_TYPE=debian:bullseye-slim
        # - DEB_URL=mirrors.ustc.edu.cn
        # - DEB_SECURITY_URL=mirrors.ustc.edu.cn/debian-security
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php74_${PHP_VERSION_74:-7.4.33}-debian-bullseye_amd64

  wsl-php-builder-80:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_80:-8.0.25}
        - OS_TYPE=debian:bullseye-slim
        # - DEB_URL=mirrors.ustc.edu.cn
        # - DEB_SECURITY_URL=mirrors.ustc.edu.cn/debian-security
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php80_${PHP_VERSION_80:-8.0.25}-debian-bullseye_amd64

  wsl-php-builder-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=debian:bullseye-slim
        # - DEB_URL=mirrors.ustc.edu.cn
        # - DEB_SECURITY_URL=mirrors.ustc.edu.cn/debian-security
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-debian-bullseye_amd64

  wsl-php-builder-nightly:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=nightly
        - OS_TYPE=debian:bullseye-slim
        # - DEB_URL=mirrors.ustc.edu.cn
        # - DEB_SECURITY_URL=mirrors.ustc.edu.cn/debian-security
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php83_0.0.0-debian-bullseye_amd64

# latest stable php and debian
  wsl-php-builder-debian12-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=debian:bookworm-slim
        - DEB_URL=mirrors.ustc.edu.cn
        - DEB_SECURITY_URL=mirrors.ustc.edu.cn/debian-security
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-debian-bookworm_amd64

# https://endoflife.software/operating-systems/linux/ubuntu
# https://github.com/docker-library/docs/tree/master/ubuntu
  wsl-php-builder-ubuntu1804-74:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_74:-7.4.33}
        - OS_TYPE=ubuntu:18.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php74_${PHP_VERSION_74:-7.4.33}-ubuntu-bionic_amd64

  wsl-php-builder-ubuntu1804-80:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_80:-8.0.25}
        - OS_TYPE=ubuntu:18.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php80_${PHP_VERSION_80:-8.0.25}-ubuntu-bionic_amd64

  wsl-php-builder-ubuntu1804-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=ubuntu:18.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-ubuntu-bionic_amd64

  wsl-php-builder-ubuntu2004-74:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_74:-7.4.33}
        - OS_TYPE=ubuntu:20.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php74_${PHP_VERSION_74:-7.4.33}-ubuntu-focal_amd64

  wsl-php-builder-ubuntu2004-80:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_80:-8.0.25}
        - OS_TYPE=ubuntu:20.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php80_${PHP_VERSION_80:-8.0.25}-ubuntu-focal_amd64

  wsl-php-builder-ubuntu2004-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=ubuntu:20.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-ubuntu-focal_amd64

  wsl-php-builder-ubuntu2204-74:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_74:-7.4.33}
        - OS_TYPE=ubuntu:22.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php74_${PHP_VERSION_74:-7.4.33}-ubuntu-jammy_amd64

  wsl-php-builder-ubuntu2204-80:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_80:-8.0.25}
        - OS_TYPE=ubuntu:22.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php80_${PHP_VERSION_80:-8.0.25}-ubuntu-jammy_amd64

  wsl-php-builder-ubuntu2204-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=ubuntu:22.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-ubuntu-jammy_amd64

  wsl-php-builder-ubuntu2204-nightly:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=nightly
        - OS_TYPE=ubuntu:22.04
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php83_0.0.0-ubuntu-jammy_amd64

# latest stable php and ubuntu
  wsl-php-builder-ubuntu2210-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=ubuntu:22.10
        # - UBUNTU_URL=mirrors.ustc.edu.cn
        # - UBUNTU_SECURITY_URL=mirrors.ustc.edu.cn
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-ubuntu-kinetic_amd64

# rhel

  wsl-php-builder-rhel7-74:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_74:-7.4.33}
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php74_${PHP_VERSION_74:-7.4.33}-centos-7_amd64

  wsl-php-builder-rhel8-74:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_74:-7.4.33}
        - OS_TYPE=quay.io/centos/centos:stream8
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php74_${PHP_VERSION_74:-7.4.33}-centos-8_amd64

  wsl-php-builder-rhel8-80:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_80:-8.0.25}
        - OS_TYPE=quay.io/centos/centos:stream8
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php80_${PHP_VERSION_80:-8.0.25}-centos-8_amd64

  wsl-php-builder-rhel8-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=quay.io/centos/centos:stream8
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-centos-8_amd64

  wsl-php-builder-rhel9-74:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_74:-7.4.33}
        - OS_TYPE=quay.io/centos/centos:stream9
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php74_${PHP_VERSION_74:-7.4.33}-centos-9_amd64

  wsl-php-builder-rhel9-80:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_80:-8.0.25}
        - OS_TYPE=quay.io/centos/centos:stream9
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php80_${PHP_VERSION_80:-8.0.25}-centos-9_amd64

  wsl-php-builder-rhel9-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=quay.io/centos/centos:stream9
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-centos-9_amd64

# https://github.com/docker-library/docs/tree/master/rockylinux

  wsl-php-builder-rocky8-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=rockylinux:8
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-rocky-8_amd64

  wsl-php-builder-rocky9-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=rockylinux:9
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-rocky-9_amd64

# fedora
# https://github.com/docker-library/docs/tree/master/fedora

  wsl-php-builder-fc36-74:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_74:-7.4.33}
        - OS_TYPE=fedora:36
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php74_${PHP_VERSION_74:-7.4.33}-fedora-36_amd64

  wsl-php-builder-fc36-80:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_80:-8.0.25}
        - OS_TYPE=fedora:36
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php80_${PHP_VERSION_80:-8.0.25}-fedora-36_amd64

  wsl-php-builder-fc36-81:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION_81:-8.1.11}
        - OS_TYPE=fedora:36
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php81_${PHP_VERSION_81:-8.1.11}-fedora-36_amd64

  wsl-php-builder-fc36-nightly:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=nightly
        - OS_TYPE=fedora:36
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php83_0.0.0-fedora-36_amd64

# latest php and fedora
  wsl-php-builder-fc37-nightly:
    build:
      context: .
      dockerfile: wsl.phpbuilder.rhel.Dockerfile
      args:
        - PHP_VERSION=nightly
        - OS_TYPE=fedora:37
    image: ${registry:-docker.io}/khs1994/wsl:khs1994-wsl-php83_0.0.0-fedora-37_amd64
