[Unit]
Description=Shutdown CRI-O containers before shutting down the system
Wants=crio.service
After=crio.service
Documentation=man:crio(8)

[Service]
Type=oneshot
ExecStart=/usr/bin/rm -f /opt/k8s/var/lib/crio/crio.shutdown
ExecStop=/usr/bin/env bash -c "/usr/bin/mkdir /opt/k8s/var/lib/crio; /usr/bin/touch /opt/k8s/var/lib/crio/crio.shutdown"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
