[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
Requires=kube-apiserver.service

[Service]

Environment="K8S_CONF_PATH=/opt/bin/k8s/conf"

ExecStart=/opt/bin/k8s/kube-scheduler \
--address=127.0.0.1 \
--kubeconfig=${K8S_CONF_PATH}/kube-scheduler.kubeconfig \
--leader-elect=true \
--alsologtostderr=true \
--logtostderr=false \
--log-dir=/var/log/kubernetes \
--v=2

Restart=on-failure
RestartSec=5
User=k8s

[Install]
WantedBy=multi-user.target
