[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]

ExecStartPre=-/usr/bin/apt install -y conntrack ipvsadm ipset jq iptables curl sysstat libseccomp2
ExecStartPre=-/usr/bin/dnf install -y conntrack ipvsadm ipset jq iptables curl sysstat libseccomp
ExecStartPre=-/usr/bin/env mkdir -p /var/lib/kube-proxy
ExecStartPre=-/usr/sbin/modprobe ip_vs
ExecStartPre=-/sbin/modprobe ip_vs

# WorkingDirectory=/var/lib/kube-proxy

Environment="K8S_CONF_PATH=/opt/bin/k8s/conf"

ExecStart=/opt/bin/k8s/kube-proxy \
--config=${K8S_CONF_PATH}/kube-proxy.config.yaml \
--alsologtostderr=true \
--logtostderr=false \
--log-dir=/var/log/kubernetes \
--v=2

Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
