[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/sbin/swapoff -a
ExecStartPre=-/sbin/swapoff -a
ExecStartPre=-/opt/bin/generate-kubelet-bootstrap-kubeconfig.sh
ExecStartPre=-/usr/bin/env mkdir -p /var/lib/kubelet

# WorkingDirectory=/var/lib/kubelet
Environment="NODE_NAME=node1"
# Fix me
Environment="KUBE_APISERVER=https://192.168.199.100:6443"
Environment="CERT_PATH=/etc/kubernetes"
# Environment="CERT_PATH=/opt/bin/kubernetes"

ExecStart=/opt/bin/kubelet \
--bootstrap-kubeconfig=${CERT_PATH:-/etc/kubernetes}/kubelet-bootstrap.kubeconfig \
--cert-dir=${CERT_PATH:-/etc/kubernetes}/certs \
--kubeconfig=${CERT_PATH:-/etc/kubernetes}/kubelet.kubeconfig \
--config=${CERT_PATH:-/etc/kubernetes}/kubelet.config.json \
--hostname-override=node1 \
--pod-infra-container-image=registry.access.redhat.com/rhel7/pod-infrastructure:latest \
--alsologtostderr=true \
--logtostderr=false \
--log-dir=/var/log/kubernetes \
--v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
