[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
Requires=kube-apiserver.service

[Service]

# Flag --port has been deprecated, see --secure-port instead.
# Flag --horizontal-pod-autoscaler-use-rest-clients has been deprecated,
# Heapster is no longer supported as a source for Horizontal Pod Autoscaler metrics.

ExecStart=/opt/bin/kube-controller-manager \
--secure-port=10257 \
--bind-address=127.0.0.1 \
--kubeconfig=/etc/kubernetes/kube-controller-manager.kubeconfig \
--service-cluster-ip-range=10.254.0.0/16 \
--cluster-name=kubernetes \
--cluster-signing-cert-file=/etc/kubernetes/certs/ca.pem \
--cluster-signing-key-file=/etc/kubernetes/certs/ca-key.pem \
--experimental-cluster-signing-duration=8760h \
--root-ca-file=/etc/kubernetes/certs/ca.pem \
--service-account-private-key-file=/etc/kubernetes/certs/ca-key.pem \
--leader-elect=true \
--feature-gates=RotateKubeletServerCertificate=true \
--controllers=*,bootstrapsigner,tokencleaner \
--horizontal-pod-autoscaler-sync-period=10s \
--tls-cert-file=/etc/kubernetes/certs/kube-controller-manager.pem \
--tls-private-key-file=/etc/kubernetes/certs/kube-controller-manager-key.pem \
--use-service-account-credentials=true \
--alsologtostderr=true \
--logtostderr=false \
--log-dir=/var/log/kubernetes \
--v=2

Restart=on-failure
RestartSec=5
User=k8s

[Install]
WantedBy=multi-user.target
