[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
Requires=kube-apiserver.service

[Service]

Environment="CERT_PATH=/etc/kubernetes"
# Environment="CERT_PATH=/opt/bin/kubernetes"

ExecStart=/opt/bin/kube-scheduler \
--address=127.0.0.1 \
--kubeconfig=${CERT_PATH:-/etc/kubernetes}/kube-scheduler.kubeconfig \
--leader-elect=true \
--alsologtostderr=true \
--logtostderr=false \
--log-dir=/var/log/kubernetes \
--v=2
Restart=on-failure
RestartSec=5
User=k8s

[Install]
WantedBy=multi-user.target
