[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=network-online.target network.target
Wants=network-online.target network.target
# After=docker.service
# Requires=docker.service

[Service]
# WorkingDirectory=/opt/k8s/var/lib/kubelet
Environment="NODE_NAME=##NODE_NAME##"
# Fix me
Environment="KUBE_APISERVER=##KUBE_APISERVER##"

Environment="K8S_ROOT=/opt/k8s"

ExecStartPre=/opt/k8s/bin/kubeadm version
ExecStartPre=-/usr/bin/env swapoff -a
ExecStartPre=-/opt/k8s/bin/generate-kubelet-bootstrap-kubeconfig.sh
ExecStartPre=-/usr/bin/env mkdir -p /opt/k8s/var/lib/kubelet
ExecStartPre=-/usr/bin/env mkdir -p /var/lib/kubelet
ExecStartPre=-/usr/bin/env mount --bind /opt/k8s/var/lib/kubelet /var/lib/kubelet
ExecStartPre=-/usr/bin/env mkdir -p /opt/k8s/usr/libexec/kubernetes/kubelet-plugins/volume/exec/
ExecStartPre=-/usr/bin/env mkdir -p /usr/libexec/kubernetes/kubelet-plugins/volume/exec/
ExecStartPre=-/usr/bin/env mount --bind /opt/k8s/usr/libexec/kubernetes/kubelet-plugins/volume/exec/ /usr/libexec/kubernetes/kubelet-plugins/volume/exec/

ExecStartPre=-/usr/bin/env mount --make-shared /
ExecStartPre=-/usr/bin/env mount --make-shared /sys
# ExecStartPre=-/usr/bin/env mount --make-shared /var/lib/kubelet

ExecStartPre=-/usr/bin/env mkdir -p ${K8S_ROOT}/var/lib/khs1994-docker-lnmp /var/lib/khs1994-docker-lnmp
ExecStartPre=-/usr/bin/env mount --bind ${K8S_ROOT}/var/lib/khs1994-docker-lnmp /var/lib/khs1994-docker-lnmp
ExecStartPre=-/usr/bin/env mkdir -p ${K8S_ROOT}/var/lib/ci   /var/lib/ci
ExecStartPre=-/usr/bin/env mount --bind ${K8S_ROOT}/var/lib/ci   /var/lib/ci

# ExecStartPre=-/usr/bin/env mkdir -p ${K8S_ROOT}/var/lib/docker   /var/lib/docker
# ExecStartPre=-/usr/bin/env mount --bind ${K8S_ROOT}/var/lib/docker   /var/lib/docker

ExecStartPre=-/usr/bin/env mkdir -p ${K8S_ROOT}/opt/cni/bin /opt/k8s/opt/cni/bin
ExecStartPre=-/usr/bin/env mount --bind ${K8S_ROOT}/opt/cni/bin /opt/k8s/opt/cni/bin
ExecStartPre=-/usr/bin/env mkdir -p ${K8S_ROOT}/etc/cni/net.d /opt/k8s/etc/cni/net.d
ExecStartPre=-/usr/bin/env mount --bind ${K8S_ROOT}/etc/cni/net.d /opt/k8s/etc/cni/net.d

ExecStartPre=-/usr/bin/env mkdir -p ${K8S_ROOT}/etc/containers /etc/containers
ExecStartPre=-/usr/bin/env mount --bind ${K8S_ROOT}/etc/containers /etc/containers

ExecStartPre=-/usr/bin/env mkdir -p ${K8S_ROOT}/var/log/containers /var/log/containers
ExecStartPre=-/usr/bin/env mount --bind ${K8S_ROOT}/var/log/containers /var/log/containers
ExecStartPre=-/usr/bin/env mkdir -p ${K8S_ROOT}/var/log/pods /var/log/pods
ExecStartPre=-/usr/bin/env mount --bind ${K8S_ROOT}/var/log/pods /var/log/pods

ExecStart=/opt/k8s/bin/kubelet \
--bootstrap-kubeconfig=${K8S_ROOT}/etc/kubernetes/kubelet-bootstrap.kubeconfig \
--cert-dir=${K8S_ROOT}/etc/kubernetes/pki \
--root-dir=/opt/k8s/var/lib/kubelet \
--kubeconfig=${K8S_ROOT}/etc/kubernetes/kubelet.kubeconfig \
--config=${K8S_ROOT}/etc/kubernetes/kubelet.config.yaml \
--hostname-override=${NODE_NAME} \
--logtostderr=true \
--volume-plugin-dir=/opt/k8s/usr/libexec/kubernetes/kubelet-plugins/volume/exec/ \
--dynamic-config-dir=/opt/k8s/var/lib/kubelet/dynamic-config \
--v=2 \
--container-runtime=remote \
--container-runtime-endpoint=unix:///run/%i/%i.sock

# kubelet@kube-containerd
# kubelet@crio

ExecStopPost=-/usr/bin/env umount /var/lib/kubelet
ExecStopPost=-/usr/bin/env umount /usr/libexec/kubernetes/kubelet-plugins/volume/exec/

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
