[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
# After=docker.service
# Requires=docker.service

[Service]
ExecStartPre=-/usr/sbin/swapoff -a
ExecStartPre=-/sbin/swapoff -a
ExecStartPre=-/opt/bin/k8s/generate-kubelet-bootstrap-kubeconfig.sh
ExecStartPre=-/usr/bin/env mkdir -p /var/lib/kubelet

# WorkingDirectory=/var/lib/kubelet
Environment="NODE_NAME=##NODE_NAME##"
# Fix me
Environment="KUBE_APISERVER=https://192.168.199.100:6443"

Environment="K8S_CONF_PATH=/opt/bin/k8s/conf"

ExecStart=/opt/bin/k8s/kubelet \
--bootstrap-kubeconfig=${K8S_CONF_PATH}/kubelet-bootstrap.kubeconfig \
--cert-dir=${K8S_CONF_PATH}/certs \
--container-runtime=docker \
--container-runtime-endpoint=unix:///var/run/dockershim.sock \
--root-dir=/var/lib/kubelet \
--kubeconfig=${K8S_CONF_PATH}/kubelet.kubeconfig \
--config=${K8S_CONF_PATH}/kubelet-config.yaml \
--hostname-override=${NODE_NAME} \
--pod-infra-container-image=registry.cn-hangzhou.aliyuncs.com/google_containers/pause:3.1 \
--image-pull-progress-deadline=15m \
--volume-plugin-dir=/var/lib/kubelet/kubelet-plugins/volume/exec/ \
--logtostderr=true \
--v=2

# --container-runtime=remote \
# --container-runtime-endpoint=unix:///run/containerd/containerd.sock \

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
