on:
  push:

name: CI

jobs:
  php:
    name: PHP
    strategy:
      matrix:
        php_version:
          - nightly
          - 8.0.0RC3
          - 7.4.12
          - 7.3.24
          - 7.2.34
          - 7.1.33
          - 7.0.33
          - 5.6.40
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 2
      - name: Composer
        uses: ./
        # uses: khs1994-docker/actions-setup-php@master
        with:
          # job_container_network: ${{ job.container.network }}
          php_type: composer
          args: |
            echo container network is default: bridge
            php -v
            composer --version
            composer global config -l
      - name: Without version
        uses: ./
        # uses: khs1994-docker/actions-setup-php@master
        with:
          job_container_network: ${{ job.container.network }}
          args: |
            echo 'container network is "",but change to: bridge'
            php -v
            env
      - name: Check version
        uses: ./
        # uses: khs1994-docker/actions-setup-php@master
        with:
          php_version: ${{ matrix.php_version }}
          job_container_network: ${{ job.container.network }}
          args: |
            mv /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini.default \
                    /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini || true
            set -x
            php -v
      - name: Custom image
        uses: ./
        with:
          image: khs1994/php:phpcpd
          args: |
            phpcpd --help

  notsupport-platform:
    strategy:
      matrix:
        os:
         - windows-latest
         - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 2
      - name: default
        uses: ./
        # uses: khs1994-docker/actions-setup-php@master
