/*
!.gitignore
!composer
!etc
!httpd
!mariadb
!mongodb
!mysql
!nginx
!nginx-unit
!npm
!php
!python
!redis
!registry
!default.sh
!docker-compose.yml
!path.md
!README.md
supervisord/supervisord.ini
!supervisord
