/*/**
!.gitignore
!composer/config.example.json
!composer/.env.example
!composer/.env.example.ps1
!composer/auth.example.json
!etc
!httpd/demo-ssl
!httpd/demo-*.config
!httpd/README.md
!mariadb
!mongodb
!mysql
!nginx
!nginx-unit
!npm/.npmrc.example
!npm/.env.example
!yarn/.env.example
!yarn/.yarnrc.example
!php
!python
!redis
!registry
!default.sh
!docker-compose.yml
!README.md
supervisord/supervisord.ini
!supervisord
kong/*.conf
!frpc.ini
path.md
kong
