/*
!.gitignore
!etcd
!httpd
!minio
!minio-old
!mariadb
!pcit
!php7
!kong
!mongodb
!postgresql
!rabbitmq
!nginx-unit
!registry
!workspace
!README.md
!example
!laravel
!lrew.ps1
!lrew
!Dockerfile
!.dockerignore
!deno
docker-compose.override.yml
docker-compose.*.yml
.env.compose
.env.compose.*
!.env.compose.default
compose.*.yml
!docker-compose.*.example.yml
!compose.*.example.yml
