[Unit]
Description=LNMP Docker cleanup logs weekly
Documentation=https://docs.lnmp.khs1994.com

[Service]
Type=simple

WorkingDirectory=/data/lnmp
# WorkingDirectory=/home/core/lnmp

Environment=LNMP_PATH=/data/lnmp
# Environment=LNMP_PATH=/home/core/lnmp
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/bin

ExecStart=/data/lnmp/lnmp-docker cleanup
