[Unit]
Description=Run Laravel Schedule
Documentation=https://docs.lnmp.khs1994.com

[Timer]
OnCalendar=*-*-* *:*:00
RandomizedDelaySec=1s

[Install]
WantedBy=multi-user.target
