[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd
; Requires= 当前 unit 依赖的
Wants=network-online.target network.target
# 我在谁之后启动
After=network-online.target
; Befora 我在谁之前启动
; Conflicts 冲突
; Condition...：当前 Unit 运行必须满足的条件，否则不会运行
; Assert...：当前 Unit 运行必须满足的条件，否则会报启动失败

# ConditionVirtualization=wsl
# ConditionPathIsMountPoint=/wsl/wsl-k8s-data
# RequiresMountsFor=/wsl/wsl-k8s-data

Before=kube-apiserver.service

Conflicts=wsl-k8s-shutdown.target

[Service]

Type=notify
# always（总是重启）、on-success、on-failure、on-abnormal、on-abort、on-watchdog
# http://www.jinbuguo.com/systemd/systemd.service.html#Restart=
Restart=on-failure
# 自动重启当前服务间隔的秒数
# 在重启服务(Restart=)前暂停多长时间
RestartSec=10s
# 定义 Systemd 停止当前服务之前等待的秒数
TimeoutStartSec=0

LimitNOFILE=40000

Environment="ETCD_DATA_DIR=/opt/k8s/var/lib/etcd"
Environment="K8S_ROOT=/opt/k8s"
Environment="K8S_ETCD_HOST=192.168.199.100"
# https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/supported-platform.md
Environment="_ETCD_UNSUPPORTED_ARCH=__GOARCH__"

ExecStartPre=-/usr/bin/env mkdir --parents /opt/k8s/var/lib/etcd
ExecStartPre=-/usr/bin/env chmod 700 /opt/k8s/var/lib/etcd

ExecStart= /opt/k8s/bin/etcd \
  --enable-v2=false \
  --name="node1" \
  --listen-peer-urls="https://${K8S_ETCD_HOST}:2380" \
  --listen-client-urls="https://${K8S_ETCD_HOST}:2379,http://127.0.0.1:2379" \
  --initial-advertise-peer-urls="https://${K8S_ETCD_HOST}:2380" \
  --initial-cluster="node1=https://${K8S_ETCD_HOST}:2380" \
  --initial-cluster-state="new" \
  --initial-cluster-token="mytoken" \
  --advertise-client-urls="https://${K8S_ETCD_HOST}:2379" \
  --cert-file="${K8S_ROOT}/etc/kubernetes/pki/etcd.pem" \
  --key-file="${K8S_ROOT}/etc/kubernetes/pki/etcd-key.pem" \
  --client-cert-auth=true \
  --trusted-ca-file="${K8S_ROOT}/etc/kubernetes/pki/etcd-ca.pem" \
  --peer-cert-file="${K8S_ROOT}/etc/kubernetes/pki/etcd-peer.pem" \
  --peer-key-file="${K8S_ROOT}/etc/kubernetes/pki/etcd-peer-key.pem" \
  --peer-client-cert-auth=true \
  --peer-trusted-ca-file="${K8S_ROOT}/etc/kubernetes/pki/etcd-ca.pem"

; ExecStartPost
; ExecReload：重启当前服务时执行的命令
; ExecStop：停止当前服务时执行的命令
; ExecStopPost：停止当其服务之后执行的命令
[Install]
WantedBy=multi-user.target

; Alias：当前 Unit 可用于启动的别名
; Also：当前 Unit 激活（enable）时，会被同时激活的其他 Unit
