[Unit]
Description=Kubernetes Kubelet with Docker
Documentation=https://github.com/kubernetes/kubernetes
After=network-online.target network.target
Wants=network-online.target network.target
; After=docker.service
; Requires=docker.service

# ConditionVirtualization=wsl
# ConditionPathIsMountPoint=/wsl/wsl-k8s-data

After=var-lib-kubelet.mount
BindsTo=var-lib-kubelet.mount

[Service]
; WorkingDirectory=/opt/k8s/var/lib/kubelet
Environment="NODE_NAME=##NODE_NAME##"
# Fix me
Environment="KUBE_APISERVER=##KUBE_APISERVER##"

Environment="K8S_ROOT=/opt/k8s"

ExecStartPre=/opt/k8s/bin/kubeadm version
ExecStartPre=-/usr/bin/env swapoff -a
ExecStartPre=-/opt/k8s/bin/generate-kubelet-bootstrap-kubeconfig.sh

; ExecStartPre=-/opt/k8s/bin/mount_bind_if_not_mount.sh \
; /opt/k8s/var/lib/kubelet /var/lib/kubelet

; ExecStartPre=-/opt/k8s/bin/mount_bind_if_not_mount.sh \
; /opt/k8s/usr/libexec/kubernetes/kubelet-plugins/volume/exec/ /usr/libexec/kubernetes/kubelet-plugins/volume/exec/

ExecStartPre=-/opt/k8s/bin/mount_bind_if_not_mount.sh \
/opt/k8s/usr/libexec/kubernetes /usr/libexec/kubernetes

ExecStartPre=-/usr/bin/env mount --make-shared /
ExecStartPre=-/usr/bin/env mount --make-shared /sys
; ExecStartPre=-/usr/bin/env mount --make-shared /var/lib/kubelet

ExecStart=/opt/k8s/bin/kubelet \
--bootstrap-kubeconfig=${K8S_ROOT}/etc/kubernetes/kubelet-bootstrap.kubeconfig \
--cert-dir=${K8S_ROOT}/etc/kubernetes/pki \
--root-dir=/opt/k8s/var/lib/kubelet \
--kubeconfig=${K8S_ROOT}/etc/kubernetes/kubelet.kubeconfig \
--config=${K8S_ROOT}/etc/kubernetes/kubelet.config.yaml \
--hostname-override=${NODE_NAME} \
--logtostderr=true \
--volume-plugin-dir=/opt/k8s/usr/libexec/kubernetes/kubelet-plugins/volume/exec/ \
--v=2 \
$KUBELET_CRI

# --container-runtime=docker \
# --container-runtime-endpoint=unix:///var/run/dockershim.sock \
# --pod-infra-container-image=gcr.mirror/google-containers/pause:3.2 \
# --pod-infra-container-image=registry.cn-hangzhou.aliyuncs.com/google_containers/pause:3.2 \
# --image-pull-progress-deadline=15m \

; ExecStopPost=-/usr/bin/env umount /var/lib/kubelet
; ExecStopPost=-/usr/bin/env umount /usr/libexec/kubernetes/kubelet-plugins/volume/exec/
ExecStopPost=-/usr/bin/env umount /usr/libexec/kubernetes

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
