version: "3.7"

services:

  arm32v7-php-fpm:
    build:
      context: .
      args:
        DEB_URL: mirrors.ustc.edu.cn # deb.debian.org
        DEB_SECURITY_URL: mirrors.ustc.edu.cn/debian-security/ # security.debian.org
    image: ${DOCKER_HUB_USERNAME:-khs1994}/arm32v7-php:${TAG:-7.2.13}-fpm-stretch
