KUBERNETES_VERSION=1.24.0

# KUBERNETES_VERSION=

# Deployment env

LNMP_HTTP_PORT=80

LNMP_HTTPS_PORT=443

# soft version

# https://github.com/etcd-io/etcd/releases
ETCD_VERSION=3.5.4
# https://github.com/helm/helm/releases
HELM_VERSION=3.8.2
# https://github.com/containernetworking/cni/releases
# https://github.com/containernetworking/plugins/releases
CNI_VERSION=1.1.1
# https://github.com/kubernetes-sigs/cri-tools/releases
CRICTL_VERSION=1.23.0
NGINX_VERSION=1.21.3
# https://github.com/containerd/containerd/releases
CONTAINERD_VERSION=1.6.4
# https://github.com/containers/conmon/releases
CONMON_VERSION=2.0.27
# https://github.com/containers/crun/releases
CRUN_VERSION=1.4.5
# https://github.com/opencontainers/runc/releases
RUNC_VERSION=1.1.1

# 如何构建该镜像请查看 ~/lnmp/windows/lnmp-windows-pm-repo/k8s/kubernetes-{server,node}
# K8S_IMAGE_REGISTRY=useccr.ccs.tencentyun.com
# K8S_IMAGE_NS=khs1994
# => useccr.ccs.tencentyun.com/khs1994/kubernetes-{server,node}
# OR
# K8S_IMAGE_REGISTRY=pcit-docker.pkg.coding.net
# K8S_IMAGE_NS=khs1994-docker/lwpm
# => pcit-docker.pkg.coding.net/khs1994-docker/lwpm/kubernetes-{server,node}

# hub-mirror.c.163.com
# mirror.baidubce.com
# gcr.mirror/google-containers | k8s.gcr.io
# gcr.mirror/khs1994 | k8s.gcr.io
# registry.cn-hangzhou.aliyuncs.com/google_containers | k8s.gcr.io
LNMP_CN_ENV=true

# LNMP_DOCKER_MIRROR=mirror.gcr.io

LNMP_NFS_SERVER_HOST=192.168.199.100
