kubectl-*
!kubectl-get-csr.ps1
!kubectl-config-set-cluster.ps1
!kubectl-config-sync.ps1
minikube*
!minikube.md

.DS_Store
test

.env
.env.ps1

vim.exe.*

docs/.vuepress/*
!docs/.vuepress/config.js

*.test.yaml
*.test.yml

lnmp/**/*.custom.cnf
lnmp/**/*.custom.conf
lnmp/**/*.custom.ini
lnmp/**/*.custom.json

my-custom

*.zip
*.tar.gz
*.sha256sum
