# RSA & ECC 双证书

ssl_certificate            conf.d/ssl/t.khs1994.com.crt;
ssl_certificate_key        conf.d/ssl/t.khs1994.com.key;

# ssl_certificate            conf.d/ssl/t.khs1994.com.crt;
# ssl_certificate_key        conf.d/ssl/t.khs1994.com.key;

ssl_session_cache          shared:SSL:1m;
ssl_session_timeout        5m;
ssl_protocols              TLSv1.2 TLSv1.3;
ssl_ciphers                'TLS13-CHACHA20-POLY1305-SHA256:TLS13-AES128-GCM-SHA256:TLS13-AES256-GCM-SHA384:TLS13-AES128-CCM-SHA256:TLS13-AES128-CCM-8-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';

ssl_prefer_server_ciphers  on;

ssl_stapling               on;
ssl_stapling_verify        on;
