upstream fastcgi_php {
  server php:9000;
  # server 127.0.0.1:9100;
  # server 127.0.0.1:9200;
  # server 127.0.0.1:9300;
  # server 127.0.0.1:9400;
  # server 127.0.0.1:9500;
}

server {
  listen 443 ssl http2;
  server_name demo.t.khs1994.com;
  root C:/Users/90621/lnmp/app/demo/public;

  include conf.d/ssl.config;
  include conf.d/php.config;
  include conf.d/ajax-header.config;
}

server {
  listen 80;
  root C:/nginx/html;
}
