DOCKER_HUB_USERNAME=khs1994

PHP_VERSION_72=7.2.5

PHP_VERSION_71=7.1.17

PHP_VERSION_70=7.0.30

PHP_VERSION_56=5.6.36

# PHP_VERSION_72=7.2.0
#
# PHP_VERSION_71=7.1.0
#
# PHP_VERSION_70=7.0.0
#
# PHP_VERSION_56=5.6.0
