DOCKER_HUB_USERNAME=khs1994

PHP_VERSION_74=7.4.0RC1

PHP_VERSION_73=7.3.10

PHP_VERSION_72=7.2.23

PHP_VERSION_71=7.1.32

PHP_VERSION_70=7.0.33

PHP_VERSION_56=5.6.40

#
# PHP_VERSION_73=7.3.0
#
# PHP_VERSION_72=7.2.0
#
# PHP_VERSION_71=7.1.0
#
# PHP_VERSION_70=7.0.0
#
# PHP_VERSION_56=5.6.0
#
