# commonLabels:
#   app: lnmp
# commonAnnotations:
#   app: lnmp
bases:
  - ../../base
resources:
- pv.yaml
patches:
  - lnmp-mysql.yaml
configMapGenerator:
- name: lnmp-mysql-cnf-0.0.1
  files:
  - docker.cnf=config/docker.development.cnf
- name: lnmp-tz
  literals:
  - TZ=Asia/Shanghai
secretGenerator:
- name: lnmp-mysql-password-0.0.1
  literals:
  - password=mytest
generatorOptions:
  labels:
    app: lnmp
    tier: mysql
  disableNameSuffixHash: true
