on:
  push:
    branches:
    - 19.03

name: Sync Git

jobs:
  skip-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 2
      - uses: ./.github/actions/when
        with:
          PCIT_WHEN_BRANCH: "19.03"
          PCIT_WHEN_COMMIT_MESSAGE: "1"
          PCIT_WHEN_COMMIT_MESSAGE_SKIP: "skip actions"
  sync-git:
    runs-on: ubuntu-latest
    needs: skip-ci
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 2
    - name: sync-acme
      uses: docker://pcit/pages
      env:
        PCIT_EMAIL: khs1994@khs1994.com
        PCIT_GIT_TOKEN: ${{ secrets.PCIT_GIT_TOKEN }}
        PCIT_GIT_URL: github.com/khs1994-docker/acme-docker
        PCIT_KEEP_HISTORY: "1"
        PCIT_LOCAL_DIR: dockerfile/acme
        PCIT_MESSAGE: Sync from khs1994-docker/lnmp by PCIT
        PCIT_TARGET_BRANCH: master
        PCIT_USERNAME: khs1994
    - name: sync-ci
      uses: docker://pcit/pages
      env:
        PCIT_EMAIL: khs1994@khs1994.com
        PCIT_GIT_TOKEN: ${{ secrets.PCIT_GIT_TOKEN }}
        PCIT_GIT_URL: github.com/khs1994-docker/ci
        PCIT_KEEP_HISTORY: "1"
        PCIT_LOCAL_DIR: drone
        PCIT_MESSAGE: Sync from khs1994-docker/lnmp by PCIT
        PCIT_TARGET_BRANCH: master
        PCIT_USERNAME: khs1994
    - name: sync-kubernetes
      uses: docker://pcit/pages
      env:
        PCIT_EMAIL: khs1994@khs1994.com
        PCIT_GIT_TOKEN: ${{ secrets.PCIT_GIT_TOKEN }}
        PCIT_GIT_URL: github.com/khs1994-docker/lnmp-k8s
        PCIT_KEEP_HISTORY: "1"
        PCIT_LOCAL_DIR: kubernetes
        PCIT_MESSAGE: Sync from khs1994-docker/lnmp by PCIT
        PCIT_TARGET_BRANCH: master
        PCIT_USERNAME: khs1994
    - name: sync-node-demo
      uses: docker://pcit/pages
      env:
        PCIT_EMAIL: khs1994@khs1994.com
        PCIT_GIT_TOKEN: ${{ secrets.PCIT_GIT_TOKEN }}
        PCIT_GIT_URL: github.com/khs1994-docker/node-demo
        PCIT_KEEP_HISTORY: "1"
        PCIT_LOCAL_DIR: app/node-demo
        PCIT_MESSAGE: Sync from khs1994-docker/lnmp by PCIT
        PCIT_TARGET_BRANCH: master
        PCIT_USERNAME: khs1994
    - name: sync-php-demo
      uses: docker://pcit/pages
      env:
        PCIT_EMAIL: khs1994@khs1994.com
        PCIT_GIT_TOKEN: ${{ secrets.PCIT_GIT_TOKEN }}
        PCIT_GIT_URL: github.com/khs1994-docker/php-demo
        PCIT_KEEP_HISTORY: "1"
        PCIT_LOCAL_DIR: app/demo
        PCIT_MESSAGE: Sync from khs1994-docker/lnmp by PCIT
        PCIT_TARGET_BRANCH: master
        PCIT_USERNAME: khs1994
    - name: build-actions-setup-php
      run: |
        cd .github/actions/setup-php
        sed -i 's#node_modules##g' .gitignore
        npm i
    - name: sync-actions-setup-php
      uses: docker://pcit/pages
      env:
        PCIT_EMAIL: khs1994@khs1994.com
        PCIT_GIT_TOKEN: ${{ secrets.PCIT_GIT_TOKEN }}
        PCIT_GIT_URL: github.com/khs1994-docker/actions-setup-php
        PCIT_KEEP_HISTORY: "1"
        PCIT_LOCAL_DIR: .github/actions/setup-php
        PCIT_MESSAGE: Sync from khs1994-docker/lnmp by PCIT
        PCIT_TARGET_BRANCH: master
        PCIT_USERNAME: khs1994
