# /usr/lib/systemd/system/flannel-docker-opts.service
[Unit]
Description=etcd (System Application Container)
Documentation=https://github.com/coreos/etcd
Wants=network-online.target network.target
After=network-online.target
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0
LimitNOFILE=40000

Environment="ETCD_IMAGE_TAG=v3.3.8"
Environment="ETCD_NAME=%m"
Environment="ETCD_USER=etcd"
Environment="ETCD_DATA_DIR=/var/lib/etcd"
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/lib/coreos/etcd-member-wrapper.uuid"

ExecStartPre=/usr/bin/mkdir --parents /var/lib/coreos
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/coreos/etcd-member-wrapper.uuid
ExecStart=/usr/lib/coreos/etcd-wrapper $ETCD_OPTS
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/lib/coreos/etcd-member-wrapper.uuid

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/etcd-member.service.d/20-clct-etcd-member.conf
[Service]
Environment="ETCD_IMAGE_TAG=v3.3.8"
ExecStart=
ExecStart=/usr/lib/coreos/etcd-wrapper $ETCD_OPTS \
  --name="coreos1" \
  --listen-peer-urls="https://192.168.57.110:2380" \
  --listen-client-urls="https://0.0.0.0:2379" \
  --initial-advertise-peer-urls="https://192.168.57.110:2380" \
  --initial-cluster="coreos1=https://192.168.57.110:2380,coreos2=https://192.168.57.111:2380,coreos3=https://192.168.57.112:2380" \
  --initial-cluster-state="new" \
  --initial-cluster-token="mytoken" \
  --advertise-client-urls="https://192.168.57.110:2379" \
  --cert-file="/etc/ssl/certs/etcd.pem" \
  --key-file="/etc/ssl/certs/etcd-key.pem" \
  --client-cert-auth=true \
  --trusted-ca-file="/etc/ssl/certs/ca.pem" \
  --peer-cert-file="/etc/ssl/certs/etcd.pem" \
  --peer-key-file="/etc/ssl/certs/etcd-key.pem" \
  --peer-client-cert-auth=true \
  --peer-trusted-ca-file="/etc/ssl/certs/ca.pem"

# /etc/systemd/system/etcd-member.service.d/30-certs.conf
[Service]
# User=k8s
Environment="ETCD_NAME=coreos1"
Environment="ETCD_SSL_DIR=/etc/kubernetes/certs"
