# # /usr/lib/systemd/system/flanneld.service
[Unit]
Description=flannel - Network fabric for containers (System Application Container)
Documentation=https://github.com/coreos/flannel
After=etcd.service etcd2.service etcd-member.service
Requires=flannel-docker-opts.service

[Service]
Type=notify
Restart=always
RestartSec=10s
TimeoutStartSec=300
LimitNOFILE=40000
LimitNPROC=1048576

Environment="FLANNEL_IMAGE_TAG=v0.10.0"
Environment="FLANNEL_OPTS=--ip-masq=true"
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/lib/coreos/flannel-wrapper.uuid"
EnvironmentFile=-/run/flannel/options.env

ExecStartPre=/sbin/modprobe ip_tables
ExecStartPre=/usr/bin/mkdir --parents /var/lib/coreos /run/flannel
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/coreos/flannel-wrapper.uuid
ExecStart=/usr/lib/coreos/flannel-wrapper $FLANNEL_OPTS
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/lib/coreos/flannel-wrapper.uuid

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/flanneld.service.d/20-clct-flannel.conf
[Service]
ExecStart=
ExecStart=/usr/lib/coreos/flannel-wrapper $FLANNEL_OPTS \
  --etcd-endpoints="https://192.168.57.110:2379,https://192.168.57.111:2379,https://192.168.57.112:2379" \
  --etcd-cafile="/etc/kubernetes/certs/ca.pem" \
  --etcd-certfile="/etc/kubernetes/certs/flanneld.pem" \
  --etcd-keyfile="/etc/kubernetes/certs/flanneld-key.pem" \
  --etcd-prefix="/coreos.com/network"
ExecStartPre=/usr/bin/etcdctl --endpoints="https://192.168.57.110:2379,https://192.168.57.111:2379,https://192.168.57.112:2379" --ca-file="/etc/kubernetes/certs/ca.pem" --cert-file="/etc/kubernetes/certs/flanneld.pem" --key-file="/etc/kubernetes/certs/flanneld-key.pem" set /coreos.com/network/config "{\"Network\":\"172.30.0.0/16\", \"SubnetLen\": 24, \"Backend\": {\"Type\": \"vxlan\"}}"

# /etc/systemd/system/flanneld.service.d/50-network-config.conf
[Service]
Environment="ETCDCTL_API=2"
Environment="ETCD_SSL_DIR=/etc/kubernetes/certs"
