# /usr/lib/systemd/system/update-engine.service
[Unit]
Description=Update Engine
ConditionVirtualization=!container
ConditionPathExists=!/usr/.noupdate

[Service]
Type=dbus
BusName=com.coreos.update1
ExecStart=/usr/sbin/update_engine -foreground -logtostderr
BlockIOWeight=100
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
